<a href="https://colab.research.google.com/github/liadekel/analyzing-big-data/blob/master/HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework Assignment 1
### [The Art of Analyzing Big Data - The Data Scientist’s Toolbox](https://www.ise.bgu.ac.il/labs/fire/lectures.html)
#### By Dr. Michael Fire

For this homework you will need to write code that analyzes real-world datasets. The code needs to be written in Python using the [sqlite3](https://docs.python.org/2/library/sqlite3.html) package. 

**Please note:** You need to answer only the questions that match your ID first digit.

# 1. Babies Names Dataset (35pt)

**Task 1 (for everyone):** Write a code that uses the  [**babies names dataset**](https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-data-by-state-and-district-of-#topic=developers_navigation) and creates a table named (Names) with the dataset data and the following columns: 'State', 'Gender', 'Name', 'Number', and 'Year' (5pt)
**Bonus:** Load the data using a Batch INSERT SQL Query (2pt)

In [0]:
# restart state
! rm -rf ./datasets

In [0]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/us-baby-name
# download the dataset using wget
!wget --directory-prefix ./datasets/us-baby-name https://www.ssa.gov/oact/babynames/state/namesbystate.zip
!unzip ./datasets/us-baby-name/*.zip  -d ./datasets/us-baby-name/namesbystate
# concatenate to one file
!cat ./datasets/us-baby-name/namesbystate/*.TXT >> ./datasets/us-baby-name/namesbystate.txt

mkdir: cannot create directory ‘./datasets’: File exists
--2020-03-25 10:05:39--  https://www.ssa.gov/oact/babynames/state/namesbystate.zip
Resolving www.ssa.gov (www.ssa.gov)... 137.200.4.16, 2001:1930:d07::aaaa
Connecting to www.ssa.gov (www.ssa.gov)|137.200.4.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21974087 (21M) [application/zip]
Saving to: ‘./datasets/us-baby-name/namesbystate.zip’

namesbystate.zip    100%[===================>]  20.96M   335KB/s    in 68s

2020-03-25 10:06:48 (318 KB/s) - ‘./datasets/us-baby-name/namesbystate.zip’ saved [21974087/21974087]

Archive:  ./datasets/us-baby-name/namesbystate.zip
  inflating: ./datasets/us-baby-name/namesbystate/AK.TXT
  inflating: ./datasets/us-baby-name/namesbystate/AL.TXT
  inflating: ./datasets/us-baby-name/namesbystate/AR.TXT
  inflating: ./datasets/us-baby-name/namesbystate/AZ.TXT
  inflating: ./datasets/us-baby-name/namesbystate/CA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/CO.TXT
  inflating: ./datasets/us-baby-name/namesbystate/CT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/DC.TXT
  inflating: ./datasets/us-baby-name/namesbystate/DE.TXT
  inflating: ./datasets/us-baby-name/namesbystate/FL.TXT
  inflating: ./datasets/us-baby-name/namesbystate/GA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/HI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/IA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/ID.TXT
  inflating: ./datasets/us-baby-name/namesbystate/IL.TXT
  inflating: ./datasets/us-baby-name/namesbystate/IN.TXT
  inflating: ./datasets/us-baby-name/namesbystate/KS.TXT
  inflating: ./datasets/us-baby-name/namesbystate/KY.TXT
  inflating: ./datasets/us-baby-name/namesbystate/LA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MD.TXT
  inflating: ./datasets/us-baby-name/namesbystate/ME.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MN.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MO.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MS.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NC.TXT
  inflating: ./datasets/us-baby-name/namesbystate/ND.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NE.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NH.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NJ.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NM.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NV.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NY.TXT
  inflating: ./datasets/us-baby-name/namesbystate/OH.TXT
  inflating: ./datasets/us-baby-name/namesbystate/OK.TXT
  inflating: ./datasets/us-baby-name/namesbystate/OR.TXT
  inflating: ./datasets/us-baby-name/namesbystate/PA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/RI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/SC.TXT
  inflating: ./datasets/us-baby-name/namesbystate/SD.TXT
  inflating: ./datasets/us-baby-name/namesbystate/StateReadMe.pdf
  inflating: ./datasets/us-baby-name/namesbystate/TN.TXT
  inflating: ./datasets/us-baby-name/namesbystate/TX.TXT
  inflating: ./datasets/us-baby-name/namesbystate/UT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/VA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/VT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WV.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WY.TXT

In [0]:
import sqlite3
import matplotlib
import matplotlib.pyplot as plt
import os
%matplotlib inline
TEXT_PATH = './datasets/us-baby-name/namesbystate.txt'
DB_PATH = './datasets/us-baby-name/namebystate.sqlite'

In [0]:
conn = sqlite3.connect(DB_PATH) # connecting to the database
c = conn.cursor() # creating a cursor object
# create Names table
c.execute(
        '''CREATE TABLE IF NOT EXISTS Names
             ([State] text,
              [Gender] text,
              [Year] integer,
              [Name] text,
              [Number] integer)
        '''
)

#load data into convinient format
with open(TEXT_PATH) as f:
    names = f.readlines()
names = [tuple(name.strip().split(",")) for name in names]

# insert data to db
c.executemany(
    '''INSERT INTO Names(State, Gender, Year, Name, Number)
       values (?,?,?,?,?)
    ''', names
)
# show all rows in Names
#c.execute("SELECT * FROM Names").fetchall()

**Task 2 (for everyone):** Write a query that returns the statistics for the name William (5pt). Use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run (5pt). **Bonus:** [Create an index](https://www.w3schools.com/sql/sql_create_index.asp)  on the _Name_ column and use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run with the index (5pt)

In [0]:
import time
import timeit

def test():
    query = "SELECT COUNT(*) FROM Names WHERE Name='William'"
    print("There are {} williams".format(c.execute(query).fetchone()[0]))

c.execute("DROP INDEX IF EXISTS idx_name")
print("Time without index:{}".format(timeit.timeit("test()", globals=globals(), number=1)))

c.execute('''CREATE INDEX IF NOT EXISTS idx_name
             ON Names (name);''')
print("Time with index:{}".format(timeit.timeit("test()", globals=globals(), number=1)))

There are 6726 williams
Time without index:0.44438184000000547
There are 6726 williams
Time with index:0.0006709849999424478

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 4 +1**) </span>

In [0]:
# which question to answer - put your ID number and run the code 
your_id  = "316460443"
q = int(your_id) % 4 + 1
print("You need to answer question number %s" % q)

You need to answer question number 4

***Question 1:*** Write a function that returns how many babies were born in a given state in a given year.
Use it to calculate the number of babies born in LA in 1950 (10pt)

***Question 2:*** Write a function that returns how many male babies were born between a given range of years.
Use it to calculate how many babies were born between 1970 and 1975  (10pt)

**Question 3:** Write a function that returns the most common female name in a given state. Use it to calculate the most common female name in Wasington in 1987 (10pt)

**Question 4:** Write a function that returns how many male babies named _William_ where born in a given state in a given year. Use it to find the state in which the highest number of babies _William_ where born in 1999 (10pt)

In [0]:
def find_babies(year, state=None, gender='M', name='William'):
    num = c.execute(
    f'''SELECT COUNT(*)
        FROM Names
        WHERE State='{state}' AND
              Gender='{gender}'AND
              Name='{name}' AND
              Year={year}
    '''
    ).fetchone()[0]
    print(f'Number of babies with name={name}, year={year}, gender={gender} is {num} in state={state}')

def find_babies_max(year, state=None, gender='M', name='William'):
    num, state = c.execute(
    f'''SELECT COUNT(*), State
        FROM Names
        WHERE Gender='{gender}'AND
              Name='{name}' AND
              Year={year}
        ORDER BY 1 DESC
    '''
    ).fetchone()
    print(f'Max number of babies with name={name}, year={year}, gender={gender} is {num} in state={state}')


find_babies(year='1999', state='AK')
# implemented more efficiently using single query
# could also be implemented with for loop
find_babies_max(year=1999)

Number of babies with name=William, year=1999, gender=M is 1 in state=AK
Max number of babies with name=William, year=1999, gender=M is 51 in state=WY

**Question (for everyone):** For the state of NY write code that calculates the second most popular female/male names in each decade (10pt). **Bonus**: Visualize it somehow using Matplotlib (5pt)

In [0]:
def find_popular_in_decade(decade, gender, state='NY'):
    print(c.execute(
    f'''SELECT SUBSTR(Year, 1, 3) || '0', Gender, Name, COUNT(*)
        FROM Names
        WHERE State='{state}' AND
              Gender='{gender}' AND
              (SUBSTR(Year, 1, 3) || '0')='{decade}'
        GROUP BY SUBSTR(Year, 1, 3), Name
        ORDER BY 4 DESC LIMIT 2
    '''
    ).fetchall()[1]) # second on descending order


for decade in range(1910, 2010, 10):
    find_popular_in_decade(decade=decade, gender='M')
    find_popular_in_decade(decade=decade, gender='F')

('1910', 'M', 'Abe', 10)

# 2. Flavors of Cacao Dataset (15pt)

Using the [Flavors of Cacao](https://www.kaggle.com/rombikuboktaeder/choco-flavors) dataset, answer the following questions:

**Question 1:** Write a function that returns the number of bars manufactured where the bars' BroadBean Origin is a given country. Use the function to calculate the number of bars where BroadBean Origin is 'Fiji' (15pt)

**Question 2:** Write a function that returns the maximal and average cocoa percentage in a bar manufactured by a company in a specific country. Use the function to calculate the maximal and average cocoa percentage in bars manufactured by a Swiss company (15pt).

**Question 3:** Calculate the second most common bean type(s) and the most rare bean type(s) (15
pt)

**Question 4:** Calculate the number of reviews and the average rating in each year. Calculate the number of reviews and the average rating of each company in each year (15pt)

In [2]:
!mkdir /root/.kaggle/
import json
import os

# Installing the Kaggle package
!pip install kaggle 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"liaddekel","key":"f108a5e28c6e44704d469f7ae7614d16"}


# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle/’: File exists
Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.38.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)

In [0]:
# download and unzip dataset
!kaggle datasets list -s choco_flavors
!kaggle datasets download rombikuboktaeder/choco-flavors -p ./datasets/choco-flavors/
!unzip ./datasets/choco-flavors/choco-flavors.zip -d ./datasets/choco-flavors/

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                             title          size  lastUpdated          downloadCount
------------------------------  -------------  ----  -------------------  -------------
rombikuboktaeder/choco-flavors  choco_flavors  30KB  2018-04-01 04:36:29            522
Downloading choco-flavors.zip to ./datasets/choco-flavors
  0% 0.00/30.3k [00:00<?, ?B/s]
100% 30.3k/30.3k [00:00<00:00, 26.2MB/s]
Archive:  ./datasets/choco-flavors/choco-flavors.zip
  inflating: ./datasets/choco-flavors/flavors_of_cacao.csv

In [3]:
!pip install pony

Collecting pony
  Downloading https://files.pythonhosted.org/packages/48/e4/45fa6185e86edfa97eef5a4fbe3f29f537de7f36c032ff7c54676310dcb1/pony-0.7.13.tar.gz (284kB)
     |████████████████████████████████| 286kB 5.3MB/s
Building wheels for collected packages: pony
  Building wheel for pony (setup.py) ... done
  Created wheel for pony: filename=pony-0.7.13-cp36-none-any.whl size=345363 sha256=fd97cfb439d325026575e041799e2358c3f2948b949e442d6a82f61e0254be51
  Stored in directory: /root/.cache/pip/wheels/ca/c7/66/a9192d0ea4bcb17a25164284ec89b4563a6afbf7333947c0ea
Successfully built pony
Installing collected packages: pony
Successfully installed pony-0.7.13

In [0]:
from pony.orm import *
# Creating a new database
db = Database()
db.bind(provider='sqlite', filename='/content/datasets/choco-flavors/choco-flavors.pony.db', create_db=True)

class ChocoFlavor(db.Entity):
    Company = Optional(str)
    BeanOrigin = Required(str)
    REF = Required(int)
    ReviewDate = Required(int)
    CocoaPrecent = Required(str)
    Location = Required(str)
    Rating = Required(float)
    BeanType = Optional(str)
    BroadBeanOrigin = Optional(str)
     
#set_sql_debug(True) # helps to see what SQL commands are running
db.generate_mapping(create_tables=True) # create tables

In [0]:
! rm -rf '/content/datasets/choco-flavors/choco-flavors.pony.db'

In [0]:
import pandas
import numpy as np

# pandas can find csv inside the zip itself
df = pandas.read_csv("./datasets/choco-flavors/choco-flavors.zip")
df = df.replace(np.nan, '', regex=True)

for idx, row in df.iterrows():
    ChocoFlavor(
            Company=row['Company\xa0\n(Maker-if known)'],
            BeanOrigin=row['Specific Bean Origin\nor Bar Name'],
            REF=row['REF'],
            ReviewDate=row['Review\nDate'],
            CocoaPrecent=row['Cocoa\nPercent'],
            Location=row['Company\nLocation'],
            Rating=row['Rating'],
            BeanType=row['Bean\nType'],
            BroadBeanOrigin=row['Broad Bean\nOrigin']
    )
show(ChocoFlavor)
commit()

class ChocoFlavor(Entity):
    id = PrimaryKey(int, auto=True)
    Company = Optional(str, default='')
    BeanOrigin = Required(str)
    REF = Required(int)
    ReviewDate = Required(int)
    CocoaPrecent = Required(str)
    Location = Required(str)
    Rating = Required(float)
    BeanType = Optional(str, default='')
    BroadBeanOrigin = Optional(str, default='')

In [0]:
# number of reviews and average rating per year
"""
    SELECT "c"."ReviewDate", COUNT(DISTINCT "c"."id"), AVG("c"."Rating")
    FROM "ChocoFlavor" "c"
    GROUP BY "c"."ReviewDate
"""
list(select((c.ReviewDate, count(c), avg(c.Rating)) for c in ChocoFlavor))

# number of reviews and average rating per company per year
"""
    SELECT "c"."Company", COUNT(DISTINCT "c"."id"), AVG("c"."Rating")
    FROM "ChocoFlavor" "c"
    GROUP BY "c"."Company"
"""
list(select((c.Company, c.ReviewDate, count(c), avg(c.Rating)) for c in ChocoFlavor))

SELECT "c"."ReviewDate", COUNT(DISTINCT "c"."id"), AVG("c"."Rating")
FROM "ChocoFlavor" "c"
GROUP BY "c"."ReviewDate"

SELECT "c"."Company", "c"."ReviewDate", COUNT(DISTINCT "c"."id"), AVG("c"."Rating")
FROM "ChocoFlavor" "c"
GROUP BY "c"."Company", "c"."ReviewDate"

[('A. Morin', 2012, 2, 3.625),
 ('A. Morin', 2013, 11, 3.3181818181818183),
 ('A. Morin', 2014, 5, 3.5),
 ('A. Morin', 2015, 4, 3.1875),
 ('A. Morin', 2016, 1, 3.75),
 ('AMMA', 2010, 4, 3.5625),
 ('AMMA', 2013, 1, 3.25),
 ('Acalli', 2015, 2, 3.75),
 ('Adi', 2011, 4, 3.25),
 ('Aequare (Gianduja)', 2009, 2, 2.875),
 ('Ah Cacao', 2009, 1, 3.0),
 ("Akesson's (Pralus)", 2010, 2, 2.75),
 ("Akesson's (Pralus)", 2011, 1, 3.75),
 ('Alain Ducasse', 2013, 2, 2.5),
 ('Alain Ducasse', 2014, 3, 2.8333333333333335),
 ('Alexandre', 2017, 4, 3.5),
 ('Altus aka Cao Artisan', 2013, 5, 3.0),
 ('Altus aka Cao Artisan', 2016, 5, 2.7),
 ('Amano', 2007, 3, 3.4166666666666665),
 ('Amano', 2008, 1, 2.75),
 ('Amano', 2009, 1, 3.0),
 ('Amano', 2010, 3, 3.5833333333333335),
 ('Amano', 2011, 1, 4.0),
 ('Amatller (Simon Coll)', 2009, 4, 2.875),
 ('Amazona', 2013, 2, 3.375),
 ('Ambrosia', 2015, 6, 3.25),
 ('Amedei', 2006, 2, 4.5),
 ('Amedei', 2007, 10, 3.725),
 ('Amedei', 2012, 1, 3.75),
 ('Anahata', 2014, 1, 3.0),
 ('Animas', 2016, 1, 3.5),
 ('Ara', 2014, 4, 2.8125),
 ('Arete', 2015, 9, 3.5),
 ('Arete', 2016, 13, 3.5576923076923075),
 ('Artisan du Chocolat', 2008, 1, 3.75),
 ('Artisan du Chocolat', 2009, 6, 2.7083333333333335),
 ('Artisan du Chocolat', 2010, 5, 3.1),
 ('Artisan du Chocolat', 2011, 2, 3.375),
 ('Artisan du Chocolat', 2012, 1, 3.75),
 ('Artisan du Chocolat', 2013, 1, 3.25),
 ('Artisan du Chocolat (Casa Luker)', 2013, 1, 2.75),
 ('Askinosie', 2007, 2, 2.75),
 ('Askinosie', 2009, 1, 3.75),
 ('Askinosie', 2011, 2, 3.75),
 ('Askinosie', 2016, 1, 3.75),
 ('Bahen & Co.', 2012, 3, 2.6666666666666665),
 ('Bahen & Co.', 2015, 2, 3.375),
 ('Bakau', 2015, 2, 3.125),
 ('Bar Au Chocolat', 2012, 3, 3.5),
 ('Bar Au Chocolat', 2014, 1, 4.0),
 ('Bar Au Chocolat', 2015, 1, 3.5),
 ("Baravelli's", 2012, 1, 2.75),
 ('Batch', 2016, 3, 3.5),
 ('Beau Cacao', 2017, 2, 3.125),
 ('Beehive', 2016, 4, 2.75),
 ('Belcolade', 2010, 4, 2.9375),
 ('Bellflower', 2016, 3, 3.4166666666666665),
 ('Belyzium', 2016, 3, 3.0833333333333335),
 ('Benoit Nihant', 2011, 2, 3.875),
 ('Benoit Nihant', 2013, 4, 3.625),
 ('Bernachon', 2012, 1, 2.75),
 ('Beschle (Felchlin)', 2010, 4, 3.375),
 ('Beschle (Felchlin)', 2011, 4, 3.375),
 ('Bisou', 2015, 4, 2.6875),
 ('Bittersweet Origins', 2008, 4, 3.3125),
 ('Bittersweet Origins', 2009, 4, 3.3125),
 ('Bittersweet Origins', 2010, 5, 3.15),
 ('Bittersweet Origins', 2012, 1, 3.5),
 ('Black Mountain', 2008, 3, 2.8333333333333335),
 ('Black River (A. Morin)', 2014, 1, 2.75),
 ('Blanxart', 2009, 1, 2.75),
 ('Blanxart', 2013, 1, 3.5),
 ('Blue Bandana', 2012, 2, 3.625),
 ('Blue Bandana', 2016, 4, 3.1875),
 ('Bonnat', 2006, 7, 3.4642857142857144),
 ('Bonnat', 2007, 1, 2.5),
 ('Bonnat', 2008, 1, 4.0),
 ('Bonnat', 2009, 4, 2.9375),
 ('Bonnat', 2011, 8, 3.625),
 ('Bonnat', 2013, 2, 3.375),
 ('Bonnat', 2014, 3, 3.6666666666666665),
 ('Bonnat', 2016, 1, 3.5),
 ('Bouga Cacao (Tulicorp)', 2009, 2, 2.375),
 ('Bowler Man', 2014, 2, 2.75),
 ("Brasstown aka It's Chocolate", 2013, 4, 3.3125),
 ("Brasstown aka It's Chocolate", 2014, 2, 3.875),
 ("Brasstown aka It's Chocolate", 2015, 1, 3.75),
 ("Brasstown aka It's Chocolate", 2016, 2, 3.625),
 ('Brazen', 2015, 6, 3.1666666666666665),
 ('Breeze Mill', 2013, 1, 3.0),
 ('Bright', 2014, 4, 3.1875),
 ('Britarev', 2015, 1, 3.25),
 ('Bronx Grrl Chocolate', 2013, 1, 2.75),
 ('Burnt Fork Bend', 2014, 5, 3.15),
 ('C-Amaro', 2011, 2, 2.375),
 ('C-Amaro', 2012, 1, 3.0),
 ('C-Amaro', 2013, 1, 3.5),
 ('C-Amaro', 2014, 3, 3.0),
 ('Cacao Arabuco', 2015, 1, 2.5),
 ('Cacao Atlanta', 2010, 3, 2.5),
 ('Cacao Atlanta', 2014, 1, 2.5),
 ('Cacao Barry', 2007, 2, 2.5),
 ('Cacao Barry', 2008, 1, 2.0),
 ('Cacao Barry', 2010, 1, 3.0),
 ('Cacao Barry', 2016, 1, 3.5),
 ('Cacao Hunters', 2014, 4, 3.25),
 ('Cacao Hunters', 2015, 1, 3.75),
 ('Cacao Hunters', 2016, 2, 3.75),
 ('Cacao Market', 2016, 1, 3.5),
 ('Cacao Prieto', 2011, 3, 3.3333333333333335),
 ('Cacao Prieto', 2012, 1, 3.75),
 ('Cacao Sampaka', 2009, 2, 4.0),
 ('Cacao Sampaka', 2010, 6, 3.5833333333333335),
 ('Cacao Sampaka', 2016, 1, 3.5),
 ('Cacao Store', 2015, 3, 3.25),
 ('Cacao de Origen', 2014, 4, 3.25),
 ('Cacao de Origen', 2015, 2, 3.375),
 ('Cacao de Origin', 2015, 1, 3.25),
 ('Cacaosuyo (Theobroma Inversiones)', 2013, 1, 3.25),
 ('Cacaoyere (Ecuatoriana)', 2008, 4, 2.75),
 ('Callebaut', 2007, 1, 1.0),
 ('Callebaut', 2008, 1, 2.75),
 ('Cao', 2016, 5, 2.9),
 ('Caoni (Tulicorp)', 2008, 6, 2.8333333333333335),
 ('Captain Pembleton', 2014, 2, 3.625),
 ('Caribeans', 2012, 2, 2.875),
 ('Caribeans', 2015, 3, 3.4166666666666665),
 ('Carlotta Chocolat', 2016, 5, 3.3),
 ('Castronovo', 2013, 7, 3.0357142857142856),
 ('Castronovo', 2014, 3, 3.25),
 ('Castronovo', 2015, 3, 3.5833333333333335),
 ('Castronovo', 2016, 1, 4.0),
 ('Cello', 2014, 4, 2.75),
 ('Cemoi', 2009, 1, 2.75),
 ('Chaleur B', 2014, 1, 2.75),
 ('Charm School', 2016, 1, 3.25),
 ('Chchukululu (Tulicorp)', 2008, 1, 3.0),
 ('Chchukululu (Tulicorp)', 2010, 1, 2.75),
 ('Chequessett', 2014, 1, 3.5),
 ('Chloe Chocolat', 2011, 1, 3.5),
 ('Chocablog', 2015, 1, 3.25),
 ('Choco Del Sol', 2014, 2, 3.125),
 ('Choco Dong', 2015, 2, 3.125),
 ('ChocoReko', 2015, 1, 3.0),
 ("Chocola'te", 2011, 2, 3.75),
 ('Chocolarder', 2015, 3, 2.5833333333333335),
 ('Chocolate Alchemist-Philly', 2016, 2, 2.5),
 ('Chocolate Con Amor', 2016, 7, 2.892857142857143),
 ('Chocolate Conspiracy', 2014, 1, 2.75),
 ('Chocolate Makers', 2015, 3, 3.5),
 ('Chocolate Tree, The', 2012, 3, 2.8333333333333335),
 ('Chocolate Tree, The', 2013, 1, 3.75),
 ('Chocolate Tree, The', 2015, 2, 3.75),
 ('Chocolats Privilege', 2014, 1, 2.5),
 ('Chocosol', 2011, 1, 3.25),
 ('Chocovic', 2007, 3, 2.6666666666666665),
 ('Chocovic', 2008, 1, 3.5),
 ('Chocovic', 2009, 2, 3.25),
 ('Chocovic', 2010, 2, 3.375),
 ('Chocovivo', 2015, 2, 2.5),
 ('Choklat', 2009, 5, 2.85),
 ('Chokolat Elot (Girard)', 2013, 1, 2.75),
 ('Choocsol', 2016, 1, 3.25),
 ('Christopher Morel (Felchlin)', 2011, 1, 3.75),
 ('Chuao Chocolatier', 2009, 1, 3.0),
 ('Chuao Chocolatier (Pralus)', 2010, 1, 2.75),
 ('Claudio Corallo', 2008, 3, 2.6666666666666665),
 ('Claudio Corallo', 2010, 1, 3.75),
 ('Cloudforest', 2015, 1, 3.5),
 ('Coleman & Davis', 2015, 1, 3.0),
 ('Compania de Chocolate (Salgado)', 2008, 4, 3.125),
 ('Compania de Chocolate (Salgado)', 2010, 1, 3.25),
 ('Condor', 2015, 1, 3.5),
 ('Confluence', 2016, 1, 2.75),
 ('Coppeneur', 2007, 1, 3.0),
 ('Coppeneur', 2008, 2, 3.0),
 ('Coppeneur', 2009, 4, 3.375),
 ('Coppeneur', 2010, 6, 3.0416666666666665),
 ('Coppeneur', 2012, 4, 3.0625),
 ('Coppeneur', 2013, 1, 3.25),
 ("Cote d' Or (Kraft)", 2006, 1, 1.0),
 ('Cravve', 2012, 5, 3.3),
 ('Cravve', 2014, 2, 2.625),
 ('Creo', 2016, 2, 3.5),
 ('DAR', 2016, 3, 3.0),
 ('Daintree', 2011, 1, 3.25),
 ('Daintree', 2015, 1, 2.75),
 ('Dalloway', 2017, 1, 2.75),
 ('Damson', 2015, 4, 2.875),
 ('Dandelion', 2011, 3, 3.25),
 ('Dandelion', 2012, 3, 3.3333333333333335),
 ('Dandelion', 2013, 4, 3.25),
 ('Dandelion', 2014, 4, 3.375),
 ('Dandelion', 2015, 1, 3.0),
 ('Dandelion', 2016, 1, 3.75),
 ('Danta', 2009, 2, 3.125),
 ('Danta', 2011, 1, 3.5),
 ('Danta', 2012, 5, 3.55),
 ('Danta', 2014, 1, 3.25),
 ('Dark Forest', 2015, 4, 3.125),
 ('Dark Forest', 2016, 1, 3.25),
 ('Davis', 2012, 1, 3.25),
 ('Davis', 2013, 3, 2.6666666666666665),
 ('De Mendes', 2015, 2, 3.5),
 ('De Villiers', 2016, 2, 2.75),
 ('DeVries', 2007, 2, 3.5),
 ('DeVries', 2008, 1, 2.75),
 ('Dean and Deluca (Belcolade)', 2007, 6, 2.9166666666666665),
 ('Debauve & Gallais (Michel Cluizel)', 2008, 1, 3.75),
 ('Debauve & Gallais (Michel Cluizel)', 2009, 1, 3.0),
 ('Desbarres', 2016, 1, 2.5),
 ('Dick Taylor', 2011, 5, 2.95),
 ('Dick Taylor', 2012, 2, 2.75),
 ('Dick Taylor', 2013, 2, 3.375),
 ('Dick Taylor', 2014, 1, 3.5),
 ('Dick Taylor', 2015, 1, 3.75),
 ('Dick Taylor', 2016, 1, 3.5),
 ('Dick Taylor', 2017, 1, 3.75),
 ('Doble & Bignall', 2014, 3, 3.3333333333333335),
 ('Doble & Bignall', 2015, 1, 3.0),
 ('Dole (Guittard)', 2009, 1, 3.75),
 ('Dolfin (Belcolade)', 2006, 1, 1.5),
 ('Dolfin (Belcolade)', 2008, 1, 3.0),
 ('Domori', 2006, 3, 3.25),
 ('Domori', 2007, 8, 3.65625),
 ('Domori', 2008, 4, 3.3125),
 ('Domori', 2010, 1, 3.0),
 ('Domori', 2011, 1, 3.5),
 ('Domori', 2012, 2, 3.625),
 ('Domori', 2013, 1, 3.0),
 ('Domori', 2015, 2, 3.75),
 ('Dormouse', 2015, 3, 2.6666666666666665),
 ('Dormouse', 2016, 1, 2.75),
 ("Duffy's", 2010, 4, 3.375),
 ("Duffy's", 2011, 5, 3.4),
 ("Duffy's", 2012, 1, 3.75),
 ("Duffy's", 2014, 2, 3.625),
 ("Duffy's", 2015, 1, 4.0),
 ('Dulcinea', 2015, 1, 3.25),
 ('Durand', 2012, 1, 2.75),
 ('Durci', 2015, 5, 3.5),
 ('ENNA', 2016, 1, 3.25),
 ('East Van Roasters', 2014, 3, 3.5),
 ('Eau de Rose', 2016, 2, 3.25),
 ('Eclat (Felchlin)', 2012, 1, 2.75),
 ('Edelmond', 2016, 1, 3.0),
 ('El Ceibo', 2008, 1, 2.75),
 ('El Ceibo', 2011, 1, 3.75),
 ('El Rey', 2006, 1, 2.75),
 ('El Rey', 2008, 3, 2.6666666666666665),
 ('El Rey', 2009, 2, 2.875),
 ('El Rey', 2015, 1, 3.75),
 ('Emerald Estate', 2013, 2, 3.0),
 ("Emily's", 2015, 2, 3.25),
 ('Enric Rovira (Claudio Corallo)', 2010, 1, 3.25),
 ('Erithaj (A. Morin)', 2014, 3, 3.1666666666666665),
 ('Escazu', 2008, 1, 3.0),
 ('Escazu', 2009, 3, 2.75),
 ('Escazu', 2012, 1, 2.75),
 ("Ethel's Artisan (Mars)", 2011, 5, 2.55),
 ('Ethereal', 2014, 3, 3.4166666666666665),
 ('Fearless (AMMA)', 2010, 1, 2.75),
 ('Feitoria Cacao', 2016, 3, 2.75),
 ('Felchlin', 2006, 6, 3.0833333333333335),
 ('Felchlin', 2010, 1, 3.5),
 ('Finca', 2014, 4, 2.75),
 ('Forever Cacao', 2014, 1, 2.75),
 ('Forteza (Cortes)', 2016, 2, 2.75),
 ('Fossa', 2016, 3, 3.3333333333333335),
 ('Franceschi', 2012, 2, 3.625),
 ('Franceschi', 2014, 2, 3.625),
 ('Frederic Blondeel', 2014, 2, 3.5),
 ('Frederic Blondeel', 2015, 3, 3.3333333333333335),
 ('French Broad', 2011, 2, 3.5),
 ('French Broad', 2012, 3, 2.6666666666666665),
 ('French Broad', 2013, 1, 3.5),
 ('French Broad', 2014, 2, 3.125),
 ('French Broad', 2015, 1, 3.5),
 ('French Broad', 2017, 1, 3.5),
 ('Fresco', 2009, 4, 3.125),
 ('Fresco', 2011, 9, 3.25),
 ('Fresco', 2012, 5, 3.6),
 ('Fresco', 2013, 4, 3.6875),
 ('Fresco', 2014, 4, 3.375),
 ('Friis Holm', 2016, 1, 3.5),
 ('Friis Holm (Bonnat)', 2011, 3, 3.4166666666666665),
 ('Friis Holm (Bonnat)', 2012, 4, 3.375),
 ('Friis Holm (Bonnat)', 2013, 2, 3.375),
 ('Friis Holm (Bonnat)', 2014, 1, 3.5),
 ('Friis Holm (Bonnat)', 2015, 2, 3.125),
 ('Fruition', 2011, 2, 3.125),
 ('Fruition', 2012, 1, 2.5),
 ('Fruition', 2013, 2, 3.375),
 ('Fruition', 2014, 2, 3.375),
 ('Fruition', 2016, 2, 3.875),
 ('Garden Island', 2014, 1, 2.5),
 ('Georgia Ramon', 2015, 5, 3.55),
 ('Glennmade', 2015, 1, 3.0),
 ('Glennmade', 2016, 1, 3.5),
 ('Goodnow Farms', 2016, 3, 3.0833333333333335),
 ('Grand Place', 2011, 1, 3.0),
 ("Green & Black's (ICAM)", 2006, 1, 2.5),
 ('Green Bean to Bar', 2016, 1, 3.5),
 ('Grenada Chocolate Co.', 2008, 1, 2.5),
 ('Grenada Chocolate Co.', 2009, 1, 2.75),
 ('Grenada Chocolate Co.', 2010, 1, 3.25),
 ('Guido Castagna', 2009, 5, 3.05),
 ('Guittard', 2006, 6, 3.1666666666666665),
 ('Guittard', 2007, 1, 3.5),
 ('Guittard', 2008, 3, 3.1666666666666665),
 ('Guittard', 2009, 3, 3.1666666666666665),
 ('Guittard', 2010, 1, 3.0),
 ('Guittard', 2011, 3, 3.0833333333333335),
 ('Guittard', 2013, 4, 3.0625),
 ('Guittard', 2015, 1, 3.75),
 ('Habitual', 2014, 9, 2.9166666666666665),
 ('Hachez', 2007, 1, 2.5),
 ('Hacienda El Castillo', 2014, 2, 2.875),
 ('Haigh', 2011, 1, 3.0),
 ('Harper Macaw', 2015, 3, 3.3333333333333335),
 ('Harper Macaw', 2016, 1, 3.25),
 ('Heilemann', 2016, 1, 2.75),
 ('Heirloom Cacao Preservation (Brasstown)', 2016, 1, 3.25),
 ('Heirloom Cacao Preservation (Fruition)', 2016, 1, 3.5),
 ('Heirloom Cacao Preservation (Guittard)', 2014, 4, 3.5),
 ('Heirloom Cacao Preservation (Manoa)', 2016, 1, 3.5),
 ('Heirloom Cacao Preservation (Millcreek)', 2016, 1, 3.5),
 ('Heirloom Cacao Preservation (Mindo)', 2016, 1, 3.5),
 ('Heirloom Cacao Preservation (Zokoko)', 2016, 2, 3.875),
 ('Hogarth', 2016, 4, 3.0625),
 ('Hoja Verde (Tulicorp)', 2009, 5, 2.85),
 ('Holy Cacao', 2009, 4, 3.125),
 ('Holy Cacao', 2015, 4, 3.5),
 ('Holy Cacao', 2016, 1, 2.75),
 ('Honest', 2014, 1, 2.5),
 ('Hotel Chocolat', 2013, 2, 2.875),
 ('Hotel Chocolat', 2015, 1, 2.75),
 ('Hotel Chocolat (Coppeneur)', 2008, 4, 2.8125),
 ('Hotel Chocolat (Coppeneur)', 2010, 3, 2.8333333333333335),
 ('Hotel Chocolat (Coppeneur)', 2011, 3, 3.0833333333333335),
 ('Hotel Chocolat (Coppeneur)', 2012, 1, 3.5),
 ('Hotel Chocolat (Coppeneur)', 2013, 8, 3.0),
 ('Hummingbird', 2013, 2, 3.5),
 ('Hummingbird', 2014, 5, 3.25),
 ('Hummingbird', 2015, 1, 3.5),
 ('Idilio (Felchlin)', 2011, 9, 3.7777777777777777),
 ('Idilio (Felchlin)', 2013, 1, 3.75),
 ('Indah', 2016, 1, 2.5),
 ('Indaphoria', 2012, 2, 3.0),
 ('Indi', 2014, 1, 3.0),
 ('Isidro', 2014, 4, 3.0625),
 ('Izard', 2015, 2, 3.125),
 ('Jacque Torres', 2006, 1, 2.0),
 ('Jordis', 2015, 1, 2.75),
 ('Just Good Chocolate', 2014, 3, 3.6666666666666665),
 ("K'ul", 2016, 4, 3.375),
 ('Kah Kow', 2013, 4, 3.25),
 ('Kakao', 2009, 1, 3.75),
 ('Kakao', 2012, 1, 2.5),
 ('Kallari (Ecuatoriana)', 2008, 8, 2.875),
 ('Kaoka (Cemoi)', 2009, 2, 2.75),
 ('Kerchner', 2013, 1, 3.75),
 ("Ki' Xocolatl", 2009, 1, 2.0),
 ('Kiskadee', 2014, 1, 3.0),
 ('Kto', 2014, 7, 3.0357142857142856),
 ('Kyya', 2014, 4, 2.75),
 ("L'Amourette", 2012, 3, 3.0),
 ("L'Amourette", 2016, 1, 3.5),
 ('L.A. Burdick (Felchlin)', 2009, 2, 3.25),
 ('L.A. Burdick (Felchlin)', 2010, 3, 3.3333333333333335),
 ('L.A. Burdick (Felchlin)', 2011, 1, 3.75),
 ('L.A. Burdick (Felchlin)', 2012, 3, 3.6666666666666665),
 ('La Chocolaterie Nanairo', 2016, 4, 2.6875),
 ('La Maison du Chocolat (Valrhona)', 2008, 1, 3.5),
 ('La Maison du Chocolat (Valrhona)', 2009, 4, 3.375),
 ('La Maison du Chocolat (Valrhona)', 2011, 1, 3.5),
 ('La Maison du Chocolat (Valrhona)', 2012, 1, 3.5),
 ('La Maison du Chocolat (Valrhona)', 2013, 3, 3.0833333333333335),
 ('La Oroquidea', 2011, 1, 2.5),
 ('La Pepa de Oro', 2011, 1, 3.25),
 ('Laia aka Chat-Noir', 2014, 2, 2.75),
 ('Laia aka Chat-Noir', 2015, 8, 3.15625),
 ('Lajedo do Ouro', 2012, 1, 3.5),
 ('Lake Champlain (Callebaut)', 2009, 1, 2.5),
 ('Letterpress', 2014, 1, 3.5),
 ('Letterpress', 2015, 5, 3.3),
 ('Letterpress', 2016, 1, 3.25),
 ('Letterpress', 2017, 2, 3.375),
 ('Levy', 2014, 1, 3.5),
 ('Lilla', 2016, 1, 3.0),
 ('Lillie Belle', 2012, 6, 3.3333333333333335),
 ('Lindt & Sprungli', 2007, 1, 3.0),
 ('Loiza', 2013, 1, 2.5),
 ('Lonohana', 2013, 3, 3.1666666666666665),
 ('Lonohana', 2014, 3, 3.5833333333333335),
 ('Love Bar', 2015, 1, 2.0),
 ('Luker', 2010, 4, 3.0625),
 ('Machu Picchu Trading Co.', 2010, 1, 2.25),
 ('Machu Picchu Trading Co.', 2011, 1, 1.5),
 ('Madecasse (Cinagra)', 2008, 4, 3.6875),
 ('Madre', 2010, 1, 2.75),
 ('Madre', 2011, 2, 2.625),
 ('Madre', 2012, 3, 3.3333333333333335),
 ('Madre', 2013, 4, 2.9375),
 ('Madre', 2017, 1, 3.5),
 ('Maglio', 2008, 4, 3.0),
 ('Majani', 2010, 1, 2.0),
 ('Malagasy (Chocolaterie Robert)', 2007, 2, 3.125),
 ('Malagos', 2013, 1, 3.5),
 ('Malie Kai (Guittard)', 2009, 1, 2.75),
 ('Malie Kai (Guittard)', 2010, 1, 3.5),
 ('Malmo', 2016, 1, 3.0),
 ('Mana', 2012, 1, 3.75),
 ('Mana', 2014, 2, 2.625),
 ('Mana', 2015, 1, 2.5),
 ('Manifesto Cacao', 2014, 1, 2.75),
 ('Manoa', 2012, 4, 3.0625),
 ('Manoa', 2013, 1, 3.75),
 ('Manoa', 2015, 2, 3.625),
 ('Manufaktura Czekolady', 2012, 3, 3.3333333333333335),
 ('Manufaktura Czekolady', 2014, 2, 3.625),
 ('Manufaktura Czekolady', 2016, 2, 3.625),
 ('Map Chocolate', 2015, 9, 3.2777777777777777),
 ('Map Chocolate', 2016, 1, 3.25),
 ('Marana', 2016, 3, 2.9166666666666665),
 ("Marigold's Finest", 2016, 1, 3.25),
 ('Marou', 2012, 6, 3.4166666666666665),
 ('Marou', 2013, 1, 3.5),
 ('Marou', 2015, 3, 3.5),
 ('Mars', 2010, 4, 3.1875),
 ('Marsatta', 2013, 2, 2.375),
 ('Martin Mayer', 2016, 3, 3.0),
 ('Mast Brothers', 2010, 3, 3.0),
 ('Mast Brothers', 2011, 9, 3.1666666666666665),
 ('Mast Brothers', 2012, 3, 2.9166666666666665),
 ('Mast Brothers', 2014, 1, 3.75),
 ('Mast Brothers', 2015, 2, 3.125),
 ('Matale', 2013, 4, 3.8125),
 ('Maverick', 2014, 4, 3.3125),
 ('Mayacama', 2016, 1, 3.0),
 ('Meadowlands', 2014, 5, 2.95),
 ('Menakao (aka Cinagra)', 2012, 2, 2.5),
 ('Mesocacao', 2014, 4, 3.375),
 ('Mesocacao', 2015, 2, 2.875),
 ('Metiisto', 2014, 2, 3.25),
 ('Metropolitan', 2015, 1, 3.5),
 ('Michel Cluizel', 2006, 7, 3.0),
 ('Michel Cluizel', 2007, 2, 3.5),
 ('Michel Cluizel', 2012, 1, 3.75),
 ('Middlebury', 2012, 3, 2.0),
 ('Middlebury', 2013, 2, 2.875),
 ('Middlebury', 2015, 6, 3.5416666666666665),
 ('Millcreek Cacao Roasters', 2012, 1, 3.5),
 ('Millcreek Cacao Roasters', 2013, 1, 2.5),
 ('Mindo', 2010, 2, 2.75),
 ('Minimal', 2016, 1, 3.5),
 ('Mission', 2015, 1, 3.5),
 ('Mission', 2016, 1, 3.75),
 ('Mita', 2012, 1, 2.5),
 ('Moho', 2010, 1, 2.75),
 ('Moho', 2013, 2, 3.125),
 ('Molucca', 2015, 3, 3.0),
 ('Momotombo', 2011, 3, 2.9166666666666665),
 ('Monarque', 2016, 1, 3.5),
 ('Monsieur Truffe', 2014, 1, 3.25),
 ('Montecristi', 2015, 3, 3.4166666666666665),
 ('Muchomas (Mesocacao)', 2015, 2, 3.5),
 ('Mutari', 2016, 4, 2.8125),
 ('Nahua', 2013, 2, 2.75),
 ('Naive', 2012, 1, 2.5),
 ('Naive', 2013, 2, 3.75),
 ('Nanea', 2013, 1, 3.5),
 ('Nathan Miller', 2014, 4, 2.6875),
 ('Na�ve', 2014, 3, 3.0),
 ('Neuhaus (Callebaut)', 2006, 3, 2.5833333333333335),
 ('Neuhaus (Callebaut)', 2007, 1, 1.0),
 ('Neuhaus (Callebaut)', 2008, 1, 3.75),
 ('Neuhaus (Callebaut)', 2010, 1, 2.5),
 ('Nibble', 2015, 4, 2.75),
 ('Night Owl', 2013, 2, 3.125),
 ('Noble Bean aka Jerjobo', 2014, 3, 3.0833333333333335),
 ("Noir d' Ebine", 2012, 2, 3.0),
 ('Nova Monda', 2012, 3, 3.0),
 ('Nuance', 2015, 5, 3.35),
 ('Nugali', 2016, 1, 3.5),
 ('Oakland Chocolate Co.', 2010, 1, 2.5),
 ('Obolo', 2015, 2, 3.75),
 ('Ocelot', 2015, 2, 3.875),
 ('Ocho', 2014, 4, 3.125),
 ('Ocho', 2016, 2, 3.125),
 ('Ohiyo', 2015, 2, 2.875),
 ('Oialla by Bojessen (Malmo)', 2011, 1, 3.5),
 ('Olive and Sinclair', 2009, 2, 2.875),
 ('Olive and Sinclair', 2010, 2, 3.0),
 ('Olivia', 2011, 4, 2.625),
 ('Omanhene', 2011, 1, 2.75),
 ('Omnom', 2014, 2, 3.25),
 ('Omnom', 2016, 1, 3.75),
 ('Original Beans (Felchlin)', 2009, 3, 3.0833333333333335),
 ('Original Beans (Felchlin)', 2011, 1, 3.75),
 ('Original Beans (Felchlin)', 2014, 2, 3.0),
 ('Original Hawaiin Chocolate Factory', 2006, 1, 3.0),
 ('Original Hawaiin Chocolate Factory', 2009, 1, 3.0),
 ('Orquidea', 2012, 2, 3.0),
 ('Pacari', 2008, 5, 2.75),
 ('Pacari', 2011, 1, 3.5),
 ('Pacari', 2012, 2, 3.375),
 ('Pacari', 2014, 4, 3.625),
 ('Pacari', 2016, 1, 4.0),
 ('Palette de Bine', 2014, 5, 3.3),
 ('Palette de Bine', 2015, 4, 3.4375),
 ('Palette de Bine', 2016, 2, 2.875),
 ('Pangea', 2016, 1, 3.0),
 ('Park 75', 2014, 1, 3.5),
 ('Parliament', 2014, 2, 3.25),
 ('Parliament', 2015, 1, 3.5),
 ('Parliament', 2016, 1, 3.25),
 ('Pascha', 2013, 2, 2.625),
 ('Patric', 2007, 1, 4.0),
 ('Patric', 2009, 3, 3.6666666666666665),
 ('Patric', 2011, 1, 3.75),
 ('Patric', 2013, 1, 4.0),
 ('Paul Young', 2014, 2, 2.5),
 ('Peppalo', 2015, 1, 3.0),
 ('Pierre Marcolini', 2006, 3, 3.6666666666666665),
 ('Pierre Marcolini', 2007, 4, 3.8125),
 ('Pierre Marcolini', 2009, 2, 3.0),
 ('Pierre Marcolini', 2010, 4, 3.25),
 ('Pierre Marcolini', 2015, 1, 3.25),
 ('Pinellas', 2016, 1, 2.5),
 ('Pitch Dark', 2014, 4, 3.125),
 ('Pitch Dark', 2015, 5, 2.8),
 ('Pomm (aka Dead Dog)', 2012, 2, 2.625),
 ('Potomac', 2010, 1, 3.75),
 ('Potomac', 2011, 4, 3.1875),
 ('Potomac', 2014, 1, 3.75),
 ('Potomac', 2016, 1, 3.75),
 ('Pralus', 2006, 16, 3.40625),
 ('Pralus', 2007, 1, 4.0),
 ('Pralus', 2008, 4, 2.875),
 ('Pralus', 2009, 1, 2.0),
 ('Pralus', 2010, 1, 3.5),
 ('Pralus', 2011, 1, 3.25),
 ('Pralus', 2015, 1, 3.25),
 ('Pump Street Bakery', 2014, 4, 2.9375),
 ('Pump Street Bakery', 2015, 3, 3.25),
 ('Pump Street Bakery', 2016, 1, 3.5),
 ('Pura Delizia', 2012, 1, 2.75),
 ('Q Chocolate', 2012, 2, 3.125),
 ('Q Chocolate', 2013, 4, 3.1875),
 ('Quetzalli (Wolter)', 2016, 2, 2.875),
 ('Raaka', 2011, 1, 3.5),
 ('Raaka', 2012, 1, 3.25),
 ('Raaka', 2015, 1, 2.75),
 ('Raaka', 2016, 1, 3.0),
 ('Rain Republic', 2010, 1, 2.75),
 ('Rancho San Jacinto', 2010, 1, 3.0),
 ('Ranger', 2015, 3, 3.0833333333333335),

In [0]:
! rm -rf choco_flavors


# 3. Kickstarter Projects Dataset (25pt)

Using the [Kickstarter Projects Dataset](https://www.kaggle.com/kemical/kickstarter-projects#ks-projects-201801.csv), answer the following questions:

**Task 1 (for everyone):** Load the dataset to SQLite DB using [PonyORM](https://ponyorm.org) (10pt)

In [0]:
!kaggle datasets list -s kickstarter-projects
!kaggle datasets download kemical/kickstarter-projects -p ./datasets/kickstarter-projects/
!unzip ./datasets/kickstarter-projects/*.zip  -d ./datasets/kickstarter-projects/

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                              title                                        size  lastUpdated          downloadCount
-----------------------------------------------  ------------------------------------------  -----  -------------------  -------------
kemical/kickstarter-projects                     Kickstarter Projects                         37MB  2018-02-08 09:02:30          35064
codename007/funding-successful-projects          Funding Successful Projects on Kickstarter   20MB  2017-06-20 17:37:38           2419
socathie/kickstarter-project-statistics          Kickstarter Project Statistics                1MB  2019-11-14 06:38:31           5336
toshimelonhead/400000-kickstarter-projects       400,000 Kickstarter Projects                   0B  2019-07-23 01:23:31            145
uysalah/archived-kickstarter-projects            Archived Kickstarter Projects                 1MB  2019-05-10 04:33:22            125
yashkantharia/kickstarter-campaigns              Kickstarter Campaigns                        12MB  2019-03-03 13:46:08            442
oscarvilla/kickstarter-nlp                       kickstarter NLP                              11MB  2018-08-09 01:38:57            207
tonyplaysguitar/steam-spy-data-from-api-request  Kickstarter videogames released on Steam      1MB  2018-01-21 23:54:08            231
officerbribe/yks-six-pack                        YKS Six Pack                                147KB  2020-03-05 17:49:58             55
wood2174/mapkickstarter                          Kickstarter                                  18MB  2018-03-07 00:01:12            212
antonionoca/kickstarter2018nlp                   kickstarter-2018-nlp                         35MB  2019-04-23 22:02:34             65
alonsopuente/kickstarter-projects-images         Kickstarter_projects_images                   2GB  2019-11-02 04:14:00             67
alonsopuente/kickstarter-projects-descriptions   kickstarter_projects_descriptions            35MB  2019-11-15 06:37:59             23
alonsopuente/kickstarter-projects-metadata       kickstarter_projects_metadata                 5MB  2019-11-15 06:27:11             32
skhadirahmed/redditdataset                       reddit-dataset                              616MB  2019-03-01 08:09:26             22
Downloading kickstarter-projects.zip to ./datasets/kickstarter-projects
 84% 31.0M/36.8M [00:00<00:00, 15.7MB/s]
100% 36.8M/36.8M [00:01<00:00, 38.0MB/s]
Archive:  ./datasets/kickstarter-projects/kickstarter-projects.zip
  inflating: ./datasets/kickstarter-projects/ks-projects-201612.csv
  inflating: ./datasets/kickstarter-projects/ks-projects-201801.csv

In [0]:
! rm -rf /content/datasets/kickstarter-projects/kickstarter-project.pony.db

In [0]:
from pony.orm import *
# Creating a new database
db_ks = Database()
db_ks.bind(provider='sqlite', filename='/content/datasets/kickstarter-projects/kickstarter-project.pony.db', create_db=True)

class KickstarterProject(db_ks.Entity):
    name = Optional(str) 
    category = Required(str)
    main_category = Required(str)
    currency = Required(str)
    deadline = Required(str)
    goal = Required(float)
    launched = Required(str)
    pledged = Required(float)
    launched = Required(str)
    state = Required(str)
    backers = Required(int)
    country = Required(str)
    usd_pledged = Optional(float)
    usd_pledged_real = Required(float)
    usd_goal_real = Required(float)

show(KickstarterProject)
#set_sql_debug(True) # helps to see what SQL commands are running
db_ks.generate_mapping(create_tables=True) # create tables

class KickstarterProject(Entity):
    id = PrimaryKey(int, auto=True)
    name = Optional(str, default='')
    category = Required(str)
    main_category = Required(str)
    currency = Required(str)
    deadline = Required(str)
    goal = Required(float)
    pledged = Required(float)
    launched = Required(str)
    state = Required(str)
    backers = Required(int)
    country = Required(str)
    usd_pledged = Optional(float)
    usd_pledged_real = Required(float)
    usd_goal_real = Required(float)

In [0]:
import pandas
import numpy as np

df_ks = pandas.read_csv("./datasets/kickstarter-projects/ks-projects-201801.csv")
df_ks['name'].fillna("", inplace=True)
df_ks['usd pledged'].fillna(0.0, inplace=True)

for idx, row in df_ks.iterrows():
    KickstarterProject(
            name=(row['name'] if not type(row['name']) is float else ""),
            category=row['category'],
            main_category=row['main_category'],
            currency=row['currency'],
            deadline=row['deadline'],
            goal=row['goal'],
            launched=row['launched'],
            pledged=row['pledged'],
            state=row['state'],
            backers=row['backers'],
            country=row['country'],
            usd_pledged=row['usd pledged'],
            usd_pledged_real=row['usd_pledged_real'],
            usd_goal_real=row['usd_goal_real'],
    )
commit()

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 3 +1**) </span>

In [0]:
# which question to answer - put your ID number and run the code 
your_id  = "316460443"
q = int(your_id) % 3 + 1
print("You need to answer question number %s" % q)

You need to answer question number 2

**Question 1:** On average which project category received the highest number of backers? (15 pt)

total 4
drwxr-xr-x 1 root root 4096 Mar 18 16:23 sample_data

**Question 2:** On average which project category received the highest pledged USD? (15 pt)

In [0]:
"""
    SELECT "p"."category", AVG("p"."usd_pledged")
    FROM "KickstarterProject" "p"
    GROUP BY "p"."category"
"""
avg_pledge = select((p.category, avg(p.usd_pledged)) for p in KickstarterProject)

"""
    ORDER BY AVG("p"."usd_pledged") DESC
    LIMIT 1
"""
desc_avg_pledge = avg_pledge.order_by(lambda x,y: desc(y)).limit(1)
list(desc_avg_pledge)

SELECT "p"."category", AVG("p"."usd_pledged")
FROM "KickstarterProject" "p"
GROUP BY "p"."category"
ORDER BY AVG("p"."usd_pledged") DESC
LIMIT 1

[('3D Printing', 52027.158213762814)]

**Question 3:** In which month occurred the highest number of projects? (15 pt)

## 4. Oscars Datasets (10pt)

Using the [Oscars Dataset](https://www.kaggle.com/theacademy/academy-awards), please answer only one of the following questions (you can chose):

**Question 1:** Who is the female actress with the most Oscar nominees? (10pt)

**Question 2:** Who is the male director with the most Oscar nominees? (10pt)

In [4]:
# download and unzip dataset
!kaggle datasets list -s academy-awards
!kaggle datasets download theacademy/academy-awards -p ./datasets/academy-awards/
!unzip ./datasets/academy-awards/academy-awards.zip -d ./datasets/academy-awards/

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                     title                                                size  lastUpdated          downloadCount
------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
theacademy/academy-awards                               The Academy Awards, 1927-2015                       185KB  2017-02-13 17:30:48           4881
fmejia21/demographics-of-academy-awards-oscars-winners  Demographics of Academy Awards (Oscars) Winners      20KB  2020-02-04 17:38:26           2138
unanimad/golden-globe-awards                            Golden Globe Awards, 1944 - 2020                    117KB  2020-01-06 16:19:01           1551
unanimad/the-oscar-award                                The Oscar Award, 1927 - 2020                        191KB  2020-02-19 15:45:30            552
madhurinani/oscars-2017-tweets                          2017 #Oscars Tweets                                  11MB  2017-03-17 19:50:40            357
unanimad/grammy-awards                                  Grammy Awards                                       185KB  2019-12-26 13:15:21            118
alexis333/academy-awards-cleanup                        Academy Awards Cleanup                              178KB  2019-03-25 18:19:58             39
unanimad/bafta-awards                                   British Academy of Film and Television Arts Awards   74KB  2020-02-04 11:35:02             35
pmagda/primetime-emmy-awards                            Primetime Emmy Awards, 1949-2017                    235KB  2017-09-19 16:15:31            367
unanimad/emmy-awards                                    Emmy Awards                                         904KB  2020-01-02 23:54:37             46
cerosdotcom/oscars-speeches                             Oscars speeches since 1939                          523KB  2018-03-02 16:07:32            220
ardenthira/hollywood-black-list-20082017                Hollywood Black List, 2008-2017                     257KB  2018-05-15 15:30:54             69
Downloading academy-awards.zip to ./datasets/academy-awards
  0% 0.00/185k [00:00<?, ?B/s]
100% 185k/185k [00:00<00:00, 69.4MB/s]
Archive:  ./datasets/academy-awards/academy-awards.zip
  inflating: ./datasets/academy-awards/database.csv

In [0]:
! rm -rf /content/datasets/academy-awards/academy-awards.pony.db

In [6]:
from pony.orm import *
import pandas

# Creating a new database
db_aa = Database()
db_aa.bind(provider='sqlite', filename='/content/datasets/academy-awards/academy-awards.pony.db', create_db=True)

class AcademyAward(db_aa.Entity):
    Year = Required(str) 
    Ceremony = Required(int)
    Award = Required(str)
    Winner = Optional(float)
    Name = Required(str)
    Film = Optional(str)

show(AcademyAward)
#set_sql_debug(True)
db_aa.generate_mapping(create_tables=True)

class AcademyAward(Entity):
    id = PrimaryKey(int, auto=True)
    Year = Required(str)
    Ceremony = Required(int)
    Award = Required(str)
    Winner = Optional(float)
    Name = Required(str)
    Film = Optional(str, default='')

In [0]:
import pandas
import numpy as np

df_aa = pandas.read_csv("./datasets/academy-awards/database.csv")
df_aa['Winner'].fillna(0.0, inplace=True)

for idx, row in df_aa.iterrows():
    AcademyAward(
            Year=row['Year'],
            Ceremony=row['Ceremony'],
            Award=row['Award'],
            Winner=row['Winner'],
            Name=row['Name'],
            Film=(row['Film'] if not type(row['Film']) is float else "")
    )
commit()

In [10]:
"""
    SELECT "a"."Film", COUNT(DISTINCT "a"."id")
    FROM "AcademyAward" "a"
    WHERE "a"."Award" = 'Directing'
    GROUP BY "a"."Film"
    ORDER BY COUNT(DISTINCT "a"."id") DESC
    LIMIT 1
"""
# The query suppose to use GRPOUP BY "a"."Name" since we would like to create groups of the same person
# But there is an error in the database, in some rows the data in 'Film' and 'Name' are replaced
# hence in order to get the correct answer the query need to use "a"."Film".
most_award = select((a.Film, count(a)) for a in AcademyAward).where(lambda a: a.Award == 'Directing')
most_award_desc = most_award.order_by(lambda x,y: desc(y)).limit(1)
list(most_award_desc)

[('William Wyler', 12)]

**Question 3:** Which top-10 movies received the highest number of Oscar nominees? (10pt)

**Question 4:** Write a function that receives an actor's name and returns the actor’s number of Oscar nominees. Use the function to calculate the number of times Leonardo DiCaprio was a nominee (10pt)

## 5. Select a Dataset (15pt)

**Open Question:** Select an interesting dataset and use SQL to discover something interesting (15pt). **Bonus:** Use BigQuery (2pt)

In [0]:
# download and unzip dataset
!kaggle datasets download shivamb/netflix-shows -p ./datasets/netflix-shows/
!unzip ./datasets/netflix-shows/netflix-shows.zip -d ./datasets/netflix-shows/

netflix-shows.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  ./datasets/netflix-shows/netflix-shows.zip
replace ./datasets/netflix-shows/netflix_titles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: מ
error:  invalid response [מ]
replace ./datasets/netflix-shows/netflix_titles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: מ
error:  invalid response [מ]
replace ./datasets/netflix-shows/netflix_titles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [0]:
import sqlite3
import os

TEXT_PATH_NS = './datasets/netflix-shows/netflix_titles.csv'
DB_PATH_NS = './datasets/netflix-shows/netflix-shows.sqlite'

In [0]:
import pandas

conn_ns = sqlite3.connect(DB_PATH_NS) # connecting to the database
c_ns = conn_ns.cursor() # creating a cursor object

c_ns.execute(
        '''CREATE TABLE IF NOT EXISTS NetflixShow
             ([show_id] integer,
              [type] text,
              [title] text,
              [director] text,
              [cast] text,
              [country] text,
              [date_added] text,
              [release_year] interger,
              [rating] text,
              [duration] text,
              [listed_in] text,
              [description] text
              )
        '''
)

df_ns = pandas.read_csv("./datasets/netflix-shows/netflix-shows.zip")
#load data into convinient format
shows = [tuple(dict(row).values()) for idx, row in df_ns.iterrows()]

# insert data to db
c_ns.executemany(
    '''INSERT INTO NetflixShow(show_id, type, title, director, cast, country,
                               date_added, release_year, rating, duration, listed_in,
                               description) values (?,?,?,?,?,?,?,?,?,?,?,?)
    ''', shows
)

In [0]:
# The database contains the different contents (movies, series) added to netflix (2010-2019).
# In the db we can find the date of releasing the content, and when the content was added
# to netflix.
# My guess is that we will see massive growth in the ammount of content added each year due to 
# the consuming colture and the 'netflix' revolution we all know.
c_ns.execute(
    ''' SELECT SUBSTR(date_added, -4), COUNT(*)
        FROM NetflixShow
        GROUP BY SUBSTR(date_added, -4)
        ORDER BY 1 ASC
    '''
).fetchall()

[(None, 11),
 ('2008', 2),
 ('2009', 2),
 ('2010', 1),
 ('2011', 13),
 ('2012', 7),
 ('2013', 12),
 ('2014', 25),
 ('2015', 90),
 ('2016', 456),
 ('2017', 1300),
 ('2018', 1782),
 ('2019', 2349),
 ('2020', 184)]