<a href="https://colab.research.google.com/github/liadekel/analyzing-big-data/blob/master/HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework Assignment 1
### [The Art of Analyzing Big Data - The Data Scientist’s Toolbox](https://www.ise.bgu.ac.il/labs/fire/lectures.html)
#### By Dr. Michael Fire

For this homework you will need to write code that analyzes real-world datasets. The code needs to be written in Python using the [sqlite3](https://docs.python.org/2/library/sqlite3.html) package. 

**Please note:** You need to answer only the questions that match your ID first digit.

# 1. Babies Names Dataset (35pt)

**Task 1 (for everyone):** Write a code that uses the  [**babies names dataset**](https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-data-by-state-and-district-of-#topic=developers_navigation) and creates a table named (Names) with the dataset data and the following columns: 'State', 'Gender', 'Name', 'Number', and 'Year' (5pt)
**Bonus:** Load the data using a Batch INSERT SQL Query (2pt)

In [0]:
# restart state
! rm -rf ./datasets

In [56]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/us-baby-name
# download the dataset using wget
!wget --directory-prefix ./datasets/us-baby-name https://www.ssa.gov/oact/babynames/state/namesbystate.zip
!unzip ./datasets/us-baby-name/*.zip  -d ./datasets/us-baby-name/namesbystate
# concatenate to one file
!cat ./datasets/us-baby-name/namesbystate/*.TXT >> ./datasets/us-baby-name/namesbystate.txt

--2020-03-24 08:52:54--  https://www.ssa.gov/oact/babynames/state/namesbystate.zip
Resolving www.ssa.gov (www.ssa.gov)... 137.200.4.16, 2001:1930:e03::aaaa
Connecting to www.ssa.gov (www.ssa.gov)|137.200.4.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21974087 (21M) [application/zip]
Saving to: ‘./datasets/us-baby-name/namesbystate.zip’

namesbystate.zip    100%[===================>]  20.96M  2.74MB/s    in 7.7s

2020-03-24 08:53:02 (2.71 MB/s) - ‘./datasets/us-baby-name/namesbystate.zip’ saved [21974087/21974087]

Archive:  ./datasets/us-baby-name/namesbystate.zip
  inflating: ./datasets/us-baby-name/namesbystate/AK.TXT
  inflating: ./datasets/us-baby-name/namesbystate/AL.TXT
  inflating: ./datasets/us-baby-name/namesbystate/AR.TXT
  inflating: ./datasets/us-baby-name/namesbystate/AZ.TXT
  inflating: ./datasets/us-baby-name/namesbystate/CA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/CO.TXT
  inflating: ./datasets/us-baby-name/namesbystate/CT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/DC.TXT
  inflating: ./datasets/us-baby-name/namesbystate/DE.TXT
  inflating: ./datasets/us-baby-name/namesbystate/FL.TXT
  inflating: ./datasets/us-baby-name/namesbystate/GA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/HI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/IA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/ID.TXT
  inflating: ./datasets/us-baby-name/namesbystate/IL.TXT
  inflating: ./datasets/us-baby-name/namesbystate/IN.TXT
  inflating: ./datasets/us-baby-name/namesbystate/KS.TXT
  inflating: ./datasets/us-baby-name/namesbystate/KY.TXT
  inflating: ./datasets/us-baby-name/namesbystate/LA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MD.TXT
  inflating: ./datasets/us-baby-name/namesbystate/ME.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MN.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MO.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MS.TXT
  inflating: ./datasets/us-baby-name/namesbystate/MT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NC.TXT
  inflating: ./datasets/us-baby-name/namesbystate/ND.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NE.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NH.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NJ.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NM.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NV.TXT
  inflating: ./datasets/us-baby-name/namesbystate/NY.TXT
  inflating: ./datasets/us-baby-name/namesbystate/OH.TXT
  inflating: ./datasets/us-baby-name/namesbystate/OK.TXT
  inflating: ./datasets/us-baby-name/namesbystate/OR.TXT
  inflating: ./datasets/us-baby-name/namesbystate/PA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/RI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/SC.TXT
  inflating: ./datasets/us-baby-name/namesbystate/SD.TXT
  inflating: ./datasets/us-baby-name/namesbystate/StateReadMe.pdf
  inflating: ./datasets/us-baby-name/namesbystate/TN.TXT
  inflating: ./datasets/us-baby-name/namesbystate/TX.TXT
  inflating: ./datasets/us-baby-name/namesbystate/UT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/VA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/VT.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WA.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WI.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WV.TXT
  inflating: ./datasets/us-baby-name/namesbystate/WY.TXT

In [0]:
import sqlite3
import matplotlib
import matplotlib.pyplot as plt
import os
%matplotlib inline
TEXT_PATH = './datasets/us-baby-name/namesbystate.txt'
DB_PATH = './datasets/us-baby-name/namebystate.sqlite'

In [58]:
conn = sqlite3.connect(DB_PATH) # connecting to the database
c = conn.cursor() # creating a cursor object
# create Names table
c.execute(
        '''CREATE TABLE IF NOT EXISTS Names
             ([State] text,
              [Gender] text,
              [Year] integer,
              [Name] text,
              [Number] integer)
        '''
)

#load data into convinient format
with open(TEXT_PATH) as f:
    names = f.readlines()
names = [tuple(name.strip().split(",")) for name in names]

# insert data to db
c.executemany(
    '''INSERT INTO Names(State, Gender, Year, Name, Number)
       values (?,?,?,?,?)
    ''', names
)
# show all rows in Names
c.execute("SELECT * FROM Names").fetchall()

[('AK', 'F', 1910, 'Mary', 14),
 ('AK', 'F', 1910, 'Annie', 12),
 ('AK', 'F', 1910, 'Anna', 10),
 ('AK', 'F', 1910, 'Margaret', 8),
 ('AK', 'F', 1910, 'Helen', 7),
 ('AK', 'F', 1910, 'Elsie', 6),
 ('AK', 'F', 1910, 'Lucy', 6),
 ('AK', 'F', 1910, 'Dorothy', 5),
 ('AK', 'F', 1911, 'Mary', 12),
 ('AK', 'F', 1911, 'Margaret', 7),
 ('AK', 'F', 1911, 'Ruth', 7),
 ('AK', 'F', 1911, 'Annie', 6),
 ('AK', 'F', 1911, 'Elizabeth', 6),
 ('AK', 'F', 1911, 'Helen', 6),
 ('AK', 'F', 1912, 'Mary', 9),
 ('AK', 'F', 1912, 'Elsie', 8),
 ('AK', 'F', 1912, 'Agnes', 7),
 ('AK', 'F', 1912, 'Anna', 7),
 ('AK', 'F', 1912, 'Helen', 7),
 ('AK', 'F', 1912, 'Louise', 7),
 ('AK', 'F', 1912, 'Jean', 6),
 ('AK', 'F', 1912, 'Ruth', 6),
 ('AK', 'F', 1912, 'Alice', 5),
 ('AK', 'F', 1912, 'Esther', 5),
 ('AK', 'F', 1912, 'Ethel', 5),
 ('AK', 'F', 1912, 'Margaret', 5),
 ('AK', 'F', 1912, 'Marie', 5),
 ('AK', 'F', 1913, 'Mary', 21),
 ('AK', 'F', 1913, 'Elizabeth', 9),
 ('AK', 'F', 1913, 'Margaret', 8),
 ('AK', 'F', 1913, 'Helen', 7),
 ('AK', 'F', 1913, 'Alice', 5),
 ('AK', 'F', 1913, 'Annie', 5),
 ('AK', 'F', 1913, 'Louise', 5),
 ('AK', 'F', 1914, 'Mary', 22),
 ('AK', 'F', 1914, 'Margaret', 10),
 ('AK', 'F', 1914, 'Alice', 8),
 ('AK', 'F', 1914, 'Annie', 8),
 ('AK', 'F', 1914, 'Elizabeth', 7),
 ('AK', 'F', 1914, 'Helen', 7),
 ('AK', 'F', 1914, 'Clara', 6),
 ('AK', 'F', 1914, 'Dorothy', 6),
 ('AK', 'F', 1914, 'Martha', 6),
 ('AK', 'F', 1914, 'Agnes', 5),
 ('AK', 'F', 1914, 'Esther', 5),
 ('AK', 'F', 1914, 'Frances', 5),
 ('AK', 'F', 1914, 'Julia', 5),
 ('AK', 'F', 1914, 'Lillian', 5),
 ('AK', 'F', 1914, 'Mildred', 5),
 ('AK', 'F', 1914, 'Pauline', 5),
 ('AK', 'F', 1915, 'Mary', 23),
 ('AK', 'F', 1915, 'Alice', 13),
 ('AK', 'F', 1915, 'Helen', 12),
 ('AK', 'F', 1915, 'Anna', 10),
 ('AK', 'F', 1915, 'Dorothy', 10),
 ('AK', 'F', 1915, 'Margaret', 9),
 ('AK', 'F', 1915, 'Ruth', 9),
 ('AK', 'F', 1915, 'Elizabeth', 7),
 ('AK', 'F', 1915, 'Frances', 6),
 ('AK', 'F', 1915, 'Katherine', 6),
 ('AK', 'F', 1915, 'Martha', 6),
 ('AK', 'F', 1915, 'Annie', 5),
 ('AK', 'F', 1915, 'Clara', 5),
 ('AK', 'F', 1915, 'Emma', 5),
 ('AK', 'F', 1915, 'Hazel', 5),
 ('AK', 'F', 1915, 'Julia', 5),
 ('AK', 'F', 1915, 'Marie', 5),
 ('AK', 'F', 1915, 'Minnie', 5),
 ('AK', 'F', 1915, 'Pauline', 5),
 ('AK', 'F', 1916, 'Mary', 18),
 ('AK', 'F', 1916, 'Helen', 12),
 ('AK', 'F', 1916, 'Dorothy', 8),
 ('AK', 'F', 1916, 'Frances', 8),
 ('AK', 'F', 1916, 'Ruth', 8),
 ('AK', 'F', 1916, 'Alice', 7),
 ('AK', 'F', 1916, 'Anna', 7),
 ('AK', 'F', 1916, 'Agnes', 6),
 ('AK', 'F', 1916, 'Annie', 6),
 ('AK', 'F', 1916, 'Julia', 6),
 ('AK', 'F', 1916, 'Lillian', 6),
 ('AK', 'F', 1916, 'Margaret', 6),
 ('AK', 'F', 1916, 'Daisy', 5),
 ('AK', 'F', 1916, 'Edna', 5),
 ('AK', 'F', 1916, 'Esther', 5),
 ('AK', 'F', 1916, 'Evelyn', 5),
 ('AK', 'F', 1916, 'Florence', 5),
 ('AK', 'F', 1916, 'Katherine', 5),
 ('AK', 'F', 1916, 'Louise', 5),
 ('AK', 'F', 1916, 'Lucy', 5),
 ('AK', 'F', 1916, 'Marie', 5),
 ('AK', 'F', 1916, 'Sally', 5),
 ('AK', 'F', 1917, 'Mary', 21),
 ('AK', 'F', 1917, 'Margaret', 11),
 ('AK', 'F', 1917, 'Helen', 10),
 ('AK', 'F', 1917, 'Frances', 9),
 ('AK', 'F', 1917, 'Alice', 7),
 ('AK', 'F', 1917, 'Olga', 7),
 ('AK', 'F', 1917, 'Ruth', 7),
 ('AK', 'F', 1917, 'Clara', 6),
 ('AK', 'F', 1917, 'Dorothy', 6),
 ('AK', 'F', 1917, 'Anna', 5),
 ('AK', 'F', 1917, 'Edith', 5),
 ('AK', 'F', 1917, 'Florence', 5),
 ('AK', 'F', 1917, 'Maggie', 5),
 ('AK', 'F', 1917, 'Rose', 5),
 ('AK', 'F', 1917, 'Sophie', 5),
 ('AK', 'F', 1918, 'Mary', 27),
 ('AK', 'F', 1918, 'Margaret', 11),
 ('AK', 'F', 1918, 'Helen', 10),
 ('AK', 'F', 1918, 'Marie', 10),
 ('AK', 'F', 1918, 'Martha', 10),
 ('AK', 'F', 1918, 'Ruth', 10),
 ('AK', 'F', 1918, 'Anna', 8),
 ('AK', 'F', 1918, 'Gertrude', 8),
 ('AK', 'F', 1918, 'Julia', 7),
 ('AK', 'F', 1918, 'Virginia', 7),
 ('AK', 'F', 1918, 'Alice', 6),
 ('AK', 'F', 1918, 'Elizabeth', 6),
 ('AK', 'F', 1918, 'Annie', 5),
 ('AK', 'F', 1918, 'Clara', 5),
 ('AK', 'F', 1918, 'Elsie', 5),
 ('AK', 'F', 1918, 'Emma', 5),
 ('AK', 'F', 1918, 'Sarah', 5),
 ('AK', 'F', 1918, 'Stella', 5),
 ('AK', 'F', 1918, 'Vera', 5),
 ('AK', 'F', 1919, 'Mary', 22),
 ('AK', 'F', 1919, 'Margaret', 17),
 ('AK', 'F', 1919, 'Dorothy', 13),
 ('AK', 'F', 1919, 'Betty', 11),
 ('AK', 'F', 1919, 'Helen', 11),
 ('AK', 'F', 1919, 'Martha', 9),
 ('AK', 'F', 1919, 'Virginia', 9),
 ('AK', 'F', 1919, 'Irene', 8),
 ('AK', 'F', 1919, 'Elizabeth', 7),
 ('AK', 'F', 1919, 'Emma', 7),
 ('AK', 'F', 1919, 'Marie', 7),
 ('AK', 'F', 1919, 'Agnes', 6),
 ('AK', 'F', 1919, 'Annie', 6),
 ('AK', 'F', 1919, 'Barbara', 6),
 ('AK', 'F', 1919, 'Frances', 6),
 ('AK', 'F', 1919, 'Gladys', 6),
 ('AK', 'F', 1919, 'Jean', 6),
 ('AK', 'F', 1919, 'Louise', 6),
 ('AK', 'F', 1919, 'Ann', 5),
 ('AK', 'F', 1919, 'Anna', 5),
 ('AK', 'F', 1919, 'Evelyn', 5),
 ('AK', 'F', 1919, 'Josephine', 5),
 ('AK', 'F', 1919, 'Katherine', 5),
 ('AK', 'F', 1919, 'Kathryn', 5),
 ('AK', 'F', 1919, 'Minnie', 5),
 ('AK', 'F', 1919, 'Ruth', 5),
 ('AK', 'F', 1919, 'Vera', 5),
 ('AK', 'F', 1920, 'Mary', 38),
 ('AK', 'F', 1920, 'Margaret', 19),
 ('AK', 'F', 1920, 'Helen', 14),
 ('AK', 'F', 1920, 'Ruth', 14),
 ('AK', 'F', 1920, 'Martha', 11),
 ('AK', 'F', 1920, 'Elizabeth', 10),
 ('AK', 'F', 1920, 'Virginia', 10),
 ('AK', 'F', 1920, 'Florence', 9),
 ('AK', 'F', 1920, 'Agnes', 8),
 ('AK', 'F', 1920, 'Dorothy', 8),
 ('AK', 'F', 1920, 'Alice', 7),
 ('AK', 'F', 1920, 'Anna', 7),
 ('AK', 'F', 1920, 'Edith', 7),
 ('AK', 'F', 1920, 'Annie', 6),
 ('AK', 'F', 1920, 'Betty', 6),
 ('AK', 'F', 1920, 'Elsie', 6),
 ('AK', 'F', 1920, 'Ethel', 6),
 ('AK', 'F', 1920, 'Irene', 6),
 ('AK', 'F', 1920, 'Katie', 6),
 ('AK', 'F', 1920, 'Rose', 6),
 ('AK', 'F', 1920, 'Frances', 5),
 ('AK', 'F', 1920, 'Hazel', 5),
 ('AK', 'F', 1920, 'Katherine', 5),
 ('AK', 'F', 1920, 'Lorraine', 5),
 ('AK', 'F', 1920, 'Patricia', 5),
 ('AK', 'F', 1921, 'Mary', 36),
 ('AK', 'F', 1921, 'Dorothy', 11),
 ('AK', 'F', 1921, 'Alice', 10),
 ('AK', 'F', 1921, 'Margaret', 10),
 ('AK', 'F', 1921, 'Annie', 9),
 ('AK', 'F', 1921, 'Helen', 9),
 ('AK', 'F', 1921, 'Elizabeth', 8),
 ('AK', 'F', 1921, 'Virginia', 8),
 ('AK', 'F', 1921, 'Katherine', 7),
 ('AK', 'F', 1921, 'Mildred', 7),
 ('AK', 'F', 1921, 'Anna', 6),
 ('AK', 'F', 1921, 'Agnes', 5),
 ('AK', 'F', 1921, 'Bessie', 5),
 ('AK', 'F', 1921, 'Betty', 5),
 ('AK', 'F', 1921, 'Elsie', 5),
 ('AK', 'F', 1921, 'Emma', 5),
 ('AK', 'F', 1921, 'Esther', 5),
 ('AK', 'F', 1921, 'Jean', 5),
 ('AK', 'F', 1921, 'Joan', 5),
 ('AK', 'F', 1921, 'Lillian', 5),
 ('AK', 'F', 1921, 'Ruth', 5),
 ('AK', 'F', 1921, 'Thelma', 5),
 ('AK', 'F', 1922, 'Mary', 29),
 ('AK', 'F', 1922, 'Helen', 13),
 ('AK', 'F', 1922, 'Alice', 12),
 ('AK', 'F', 1922, 'Anna', 10),
 ('AK', 'F', 1922, 'Margaret', 9),
 ('AK', 'F', 1922, 'Martha', 9),
 ('AK', 'F', 1922, 'Louise', 8),
 ('AK', 'F', 1922, 'Katherine', 7),
 ('AK', 'F', 1922, 'Annie', 6),
 ('AK', 'F', 1922, 'Dorothy', 6),
 ('AK', 'F', 1922, 'Elizabeth', 6),
 ('AK', 'F', 1922, 'Emma', 6),
 ('AK', 'F', 1922, 'Esther', 6),
 ('AK', 'F', 1922, 'Marie', 6),
 ('AK', 'F', 1922, 'Ruth', 6),
 ('AK', 'F', 1922, 'Betty', 5),
 ('AK', 'F', 1922, 'Clara', 5),
 ('AK', 'F', 1922, 'Evelyn', 5),
 ('AK', 'F', 1922, 'Frances', 5),
 ('AK', 'F', 1922, 'Sarah', 5),
 ('AK', 'F', 1923, 'Mary', 26),
 ('AK', 'F', 1923, 'Elizabeth', 13),
 ('AK', 'F', 1923, 'Anna', 12),
 ('AK', 'F', 1923, 'Dorothy', 11),
 ('AK', 'F', 1923, 'Helen', 11),
 ('AK', 'F', 1923, 'Ruth', 11),
 ('AK', 'F', 1923, 'Annie', 10),
 ('AK', 'F', 1923, 'Margaret', 10),
 ('AK', 'F', 1923, 'Frances', 9),
 ('AK', 'F', 1923, 'Marie', 9),
 ('AK', 'F', 1923, 'Florence', 8),
 ('AK', 'F', 1923, 'Agnes', 7),
 ('AK', 'F', 1923, 'Alice', 7),
 ('AK', 'F', 1923, 'Betty', 6),
 ('AK', 'F', 1923, 'Edna', 6),
 ('AK', 'F', 1923, 'Elsie', 6),
 ('AK', 'F', 1923, 'Ethel', 6),
 ('AK', 'F', 1923, 'Virginia', 6),
 ('AK', 'F', 1923, 'Jean', 5),
 ('AK', 'F', 1923, 'Jessie', 5),
 ('AK', 'F', 1923, 'Julia', 5),
 ('AK', 'F', 1923, 'Nellie', 5),
 ('AK', 'F', 1923, 'Olga', 5),
 ('AK', 'F', 1923, 'Pauline', 5),
 ('AK', 'F', 1923, 'Sarah', 5),
 ('AK', 'F', 1924, 'Mary', 41),
 ('AK', 'F', 1924, 'Elizabeth', 12),
 ('AK', 'F', 1924, 'Margaret', 11),
 ('AK', 'F', 1924, 'Betty', 10),
 ('AK', 'F', 1924, 'Anna', 9),
 ('AK', 'F', 1924, 'Dorothy', 9),
 ('AK', 'F', 1924, 'Marie', 9),
 ('AK', 'F', 1924, 'Ruth', 9),
 ('AK', 'F', 1924, 'Alice', 8),
 ('AK', 'F', 1924, 'Patricia', 8),
 ('AK', 'F', 1924, 'Irene', 7),
 ('AK', 'F', 1924, 'Mildred', 7),
 ('AK', 'F', 1924, 'Esther', 6),
 ('AK', 'F', 1924, 'Ida', 6),
 ('AK', 'F', 1924, 'Olga', 6),
 ('AK', 'F', 1924, 'Annie', 5),
 ('AK', 'F', 1924, 'Clara', 5),
 ('AK', 'F', 1924, 'Marjorie', 5),
 ('AK', 'F', 1924, 'Pauline', 5),
 ('AK', 'F', 1924, 'Vera', 5),
 ('AK', 'F', 1925, 'Mary', 24),
 ('AK', 'F', 1925, 'Margaret', 17),
 ('AK', 'F', 1925, 'Agnes', 11),
 ('AK', 'F', 1925, 'Betty', 9),
 ('AK', 'F', 1925, 'Lillian', 9),
 ('AK', 'F', 1925, 'Mildred', 9),
 ('AK', 'F', 1925, 'Esther', 8),
 ('AK', 'F', 1925, 'Helen', 8),
 ('AK', 'F', 1925, 'Ruth', 8),
 ('AK', 'F', 1925, 'Anna', 7),
 ('AK', 'F', 1925, 'Dorothy', 7),
 ('AK', 'F', 1925, 'Emma', 7),
 ('AK', 'F', 1925, 'Evelyn', 7),
 ('AK', 'F', 1925, 'Norma', 7),
 ('AK', 'F', 1925, 'Sarah', 7),
 ('AK', 'F', 1925, 'Florence', 6),
 ('AK', 'F', 1925, 'Louise', 6),
 ('AK', 'F', 1925, 'Marie', 6),
 ('AK', 'F', 1925, 'Pauline', 6),
 ('AK', 'F', 1925, 'Alice', 5),
 ('AK', 'F', 1925, 'Annie', 5),
 ('AK', 'F', 1925, 'Beatrice', 5),
 ('AK', 'F', 1925, 'Elena', 5),
 ('AK', 'F', 1925, 'Elsie', 5),
 ('AK', 'F', 1925, 'Irene', 5),
 ('AK', 'F', 1925, 'Jean', 5),
 ('AK', 'F', 1925, 'Katherine', 5),
 ('AK', 'F', 1925, 'Virginia', 5),
 ('AK', 'F', 1926, 'Mary', 39),
 ('AK', 'F', 1926, 'Margaret', 17),
 ('AK', 'F', 1926, 'Alice', 15),
 ('AK', 'F', 1926, 'Anna', 13),
 ('AK', 'F', 1926, 'Lucy', 9),
 ('AK', 'F', 1926, 'Martha', 9),
 ('AK', 'F', 1926, 'Esther', 8),
 ('AK', 'F', 1926, 'Helen', 8),
 ('AK', 'F', 1926, 'Elizabeth', 7),
 ('AK', 'F', 1926, 'Florence', 7),
 ('AK', 'F', 1926, 'Gladys', 7),
 ('AK', 'F', 1926, 'Irene', 7),
 ('AK', 'F', 1926, 'Ruth', 7),
 ('AK', 'F', 1926, 'Grace', 6),
 ('AK', 'F', 1926, 'Hazel', 6),
 ('AK', 'F', 1926, 'Jessie', 6),
 ('AK', 'F', 1926, 'Julia', 6),
 ('AK', 'F', 1926, 'Mildred', 6),
 ('AK', 'F', 1926, 'Patricia', 6),
 ('AK', 'F', 1926, 'Pauline', 6),
 ('AK', 'F', 1926, 'Clara', 5),
 ('AK', 'F', 1926, 'Laura', 5),
 ('AK', 'F', 1926, 'Marian', 5),
 ('AK', 'F', 1926, 'Marie', 5),
 ('AK', 'F', 1926, 'Sophie', 5),
 ('AK', 'F', 1927, 'Mary', 30),
 ('AK', 'F', 1927, 'Dorothy', 13),
 ('AK', 'F', 1927, 'Helen', 13),
 ('AK', 'F', 1927, 'Alice', 11),
 ('AK', 'F', 1927, 'Betty', 11),
 ('AK', 'F', 1927, 'Elizabeth', 10),
 ('AK', 'F', 1927, 'Florence', 10),
 ('AK', 'F', 1927, 'Barbara', 8),
 ('AK', 'F', 1927, 'Anna', 7),
 ('AK', 'F', 1927, 'Annie', 7),
 ('AK', 'F', 1927, 'Margaret', 7),
 ('AK', 'F', 1927, 'Ruth', 7),
 ('AK', 'F', 1927, 'Agnes', 6),
 ('AK', 'F', 1927, 'Elsie', 6),
 ('AK', 'F', 1927, 'Emma', 6),
 ('AK', 'F', 1927, 'June', 6),
 ('AK', 'F', 1927, 'Katherine', 6),
 ('AK', 'F', 1927, 'Lena', 6),
 ('AK', 'F', 1927, 'Esther', 5),
 ('AK', 'F', 1927, 'Evelyn', 5),
 ('AK', 'F', 1927, 'Irene', 5),
 ('AK', 'F', 1927, 'Laura', 5),
 ('AK', 'F', 1927, 'Lillian', 5),
 ('AK', 'F', 1927, 'Louise', 5),
 ('AK', 'F', 1927, 'Olga', 5),
 ('AK', 'F', 1927, 'Sophie', 5),
 ('AK', 'F', 1928, 'Mary', 27),
 ('AK', 'F', 1928, 'Margaret', 16),
 ('AK', 'F', 1928, 'Annie', 13),
 ('AK', 'F', 1928, 'Dorothy', 13),
 ('AK', 'F', 1928, 'Alice', 11),
 ('AK', 'F', 1928, 'Anna', 10),
 ('AK', 'F', 1928, 'Helen', 10),
 ('AK', 'F', 1928, 'Elizabeth', 9),
 ('AK', 'F', 1928, 'Irene', 8),
 ('AK', 'F', 1928, 'Marie', 8),
 ('AK', 'F', 1928, 'Betty', 7),
 ('AK', 'F', 1928, 'Emma', 7),
 ('AK', 'F', 1928, 'Elsie', 6),
 ('AK', 'F', 1928, 'Shirley', 6),
 ('AK', 'F', 1928, 'Sophie', 6),
 ('AK', 'F', 1928, 'Agnes', 5),
 ('AK', 'F', 1928, 'Barbara', 5),
 ('AK', 'F', 1928, 'Clara', 5),
 ('AK', 'F', 1928, 'Edna', 5),
 ('AK', 'F', 1928, 'Florence', 5),
 ('AK', 'F', 1928, 'Frances', 5),
 ('AK', 'F', 1928, 'Julia', 5),
 ('AK', 'F', 1928, 'Katherine', 5),
 ('AK', 'F', 1928, 'Lillian', 5),
 ('AK', 'F', 1928, 'Mabel', 5),
 ('AK', 'F', 1928, 'Martha', 5),
 ('AK', 'F', 1928, 'Ruth', 5),
 ('AK', 'F', 1929, 'Mary', 25),
 ('AK', 'F', 1929, 'Margaret', 11),
 ('AK', 'F', 1929, 'Betty', 10),
 ('AK', 'F', 1929, 'Dorothy', 10),
 ('AK', 'F', 1929, 'Agnes', 8),
 ('AK', 'F', 1929, 'Eva', 8),
 ('AK', 'F', 1929, 'Julia', 8),
 ('AK', 'F', 1929, 'Elizabeth', 7),
 ('AK', 'F', 1929, 'Helen', 7),
 ('AK', 'F', 1929, 'Martha', 7),
 ('AK', 'F', 1929, 'Alice', 6),
 ('AK', 'F', 1929, 'Esther', 6),
 ('AK', 'F', 1929, 'Frances', 6),
 ('AK', 'F', 1929, 'Irene', 6),
 ('AK', 'F', 1929, 'Mabel', 6),
 ('AK', 'F', 1929, 'Nancy', 6),
 ('AK', 'F', 1929, 'Pauline', 6),
 ('AK', 'F', 1929, 'Bertha', 5),
 ('AK', 'F', 1929, 'Evelyn', 5),
 ('AK', 'F', 1929, 'Florence', 5),
 ('AK', 'F', 1929, 'Josephine', 5),
 ('AK', 'F', 1929, 'Ruth', 5),
 ('AK', 'F', 1929, 'Virginia', 5),
 ('AK', 'F', 1930, 'Mary', 35),
 ('AK', 'F', 1930, 'Alice', 14),
 ('AK', 'F', 1930, 'Helen', 11),
 ('AK', 'F', 1930, 'Anna', 10),
 ('AK', 'F', 1930, 'Marie', 10),
 ('AK', 'F', 1930, 'Doris', 8),
 ('AK', 'F', 1930, 'Elizabeth', 8),
 ('AK', 'F', 1930, 'Martha', 8),
 ('AK', 'F', 1930, 'Esther', 7),
 ('AK', 'F', 1930, 'Agnes', 6),
 ('AK', 'F', 1930, 'Barbara', 6),
 ('AK', 'F', 1930, 'Betty', 6),
 ('AK', 'F', 1930, 'Dolly', 6),
 ('AK', 'F', 1930, 'Evelyn', 6),
 ('AK', 'F', 1930, 'Jean', 6),
 ('AK', 'F', 1930, 'Katherine', 6),
 ('AK', 'F', 1930, 'Margaret', 6),
 ('AK', 'F', 1930, 'Nancy', 6),
 ('AK', 'F', 1930, 'Pauline', 6),
 ('AK', 'F', 1930, 'Virginia', 6),
 ('AK', 'F', 1930, 'Carrie', 5),
 ('AK', 'F', 1930, 'Clara', 5),
 ('AK', 'F', 1930, 'Dorothy', 5),
 ('AK', 'F', 1930, 'Florence', 5),
 ('AK', 'F', 1930, 'Jane', 5),
 ('AK', 'F', 1930, 'Joan', 5),
 ('AK', 'F', 1930, 'Patricia', 5),
 ('AK', 'F', 1930, 'Sophie', 5),
 ('AK', 'F', 1931, 'Mary', 41),
 ('AK', 'F', 1931, 'Alice', 11),
 ('AK', 'F', 1931, 'Annie', 11),
 ('AK', 'F', 1931, 'Ruth', 11),
 ('AK', 'F', 1931, 'Dorothy', 10),
 ('AK', 'F', 1931, 'Elizabeth', 10),
 ('AK', 'F', 1931, 'Agnes', 8),
 ('AK', 'F', 1931, 'Helen', 7),
 ('AK', 'F', 1931, 'Betty', 6),
 ('AK', 'F', 1931, 'Christine', 6),
 ('AK', 'F', 1931, 'Evelyn', 6),
 ('AK', 'F', 1931, 'Grace', 6),
 ('AK', 'F', 1931, 'Margaret', 6),
 ('AK', 'F', 1931, 'Anna', 5),
 ('AK', 'F', 1931, 'Clara', 5),
 ('AK', 'F', 1931, 'Irene', 5),
 ('AK', 'F', 1931, 'Lena', 5),
 ('AK', 'F', 1931, 'Martha', 5),
 ('AK', 'F', 1932, 'Mary', 26),
 ('AK', 'F', 1932, 'Margaret', 17),
 ('AK', 'F', 1932, 'Alice', 11),
 ('AK', 'F', 1932, 'Martha', 10),
 ('AK', 'F', 1932, 'Anna', 9),
 ('AK', 'F', 1932, 'Clara', 9),
 ('AK', 'F', 1932, 'Elizabeth', 9),
 ('AK', 'F', 1932, 'Louise', 9),
 ('AK', 'F', 1932, 'Annie', 8),
 ('AK', 'F', 1932, 'Dorothy', 8),
 ('AK', 'F', 1932, 'Frances', 8),
 ('AK', 'F', 1932, 'Nancy', 8),
 ('AK', 'F', 1932, 'Ruth', 8),
 ('AK', 'F', 1932, 'Carrie', 7),
 ('AK', 'F', 1932, 'Eleanor', 7),
 ('AK', 'F', 1932, 'Helen', 7),
 ('AK', 'F', 1932, 'Marjorie', 7),
 ('AK', 'F', 1932, 'Cecelia', 6),
 ('AK', 'F', 1932, 'Katherine', 6),
 ('AK', 'F', 1932, 'Marie', 6),
 ('AK', 'F', 1932, 'Virginia', 6),
 ('AK', 'F', 1932, 'Elena', 5),
 ('AK', 'F', 1932, 'Esther', 5),
 ('AK', 'F', 1932, 'Ethel', 5),
 ('AK', 'F', 1932, 'Evelyn', 5),
 ('AK', 'F', 1932, 'Jean', 5),
 ('AK', 'F', 1932, 'Laura', 5),
 ('AK', 'F', 1932, 'Shirley', 5),
 ('AK', 'F', 1933, 'Mary', 25),
 ('AK', 'F', 1933, 'Martha', 16),
 ('AK', 'F', 1933, 'Agnes', 12),
 ('AK', 'F', 1933, 'Betty', 11),
 ('AK', 'F', 1933, 'Margaret', 11),
 ('AK', 'F', 1933, 'Elizabeth', 10),
 ('AK', 'F', 1933, 'Marie', 10),
 ('AK', 'F', 1933, 'Alice', 9),
 ('AK', 'F', 1933, 'Helen', 8),
 ('AK', 'F', 1933, 'Louise', 8),
 ('AK', 'F', 1933, 'Lucy', 8),
 ('AK', 'F', 1933, 'Patricia', 8),
 ('AK', 'F', 1933, 'Shirley', 8),
 ('AK', 'F', 1933, 'Irene', 7),
 ('AK', 'F', 1933, 'Lillian', 7),
 ('AK', 'F', 1933, 'Barbara', 6),
 ('AK', 'F', 1933, 'Dorothy', 6),
 ('AK', 'F', 1933, 'Evelyn', 6),
 ('AK', 'F', 1933, 'Frances', 6),
 ('AK', 'F', 1933, 'Ruth', 6),
 ('AK', 'F', 1933, 'Thelma', 6),
 ('AK', 'F', 1933, 'Ann', 5),
 ('AK', 'F', 1933, 'Anna', 5),
 ('AK', 'F', 1933, 'Bertha', 5),
 ('AK', 'F', 1933, 'Clara', 5),
 ('AK', 'F', 1933, 'Joan', 5),
 ('AK', 'F', 1933, 'Lena', 5),
 ('AK', 'F', 1933, 'Lois', 5),
 ('AK', 'F', 1933, 'Mildred', 5),
 ('AK', 'F', 1933, 'Pauline', 5),
 ('AK', 'F', 1933, 'Rose', 5),
 ('AK', 'F', 1933, 'Sally', 5),
 ('AK', 'F', 1933, 'Virginia', 5),
 ('AK', 'F', 1934, 'Mary', 31),
 ('AK', 'F', 1934, 'Helen', 14),
 ('AK', 'F', 1934, 'Elizabeth', 12),
 ('AK', 'F', 1934, 'Irene', 12),
 ('AK', 'F', 1934, 'Betty', 9),
 ('AK', 'F', 1934, 'Margaret', 9),
 ('AK', 'F', 1934, 'Martha', 9),
 ('AK', 'F', 1934, 'Pauline', 9),
 ('AK', 'F', 1934, 'Josephine', 8),
 ('AK', 'F', 1934, 'Marie', 8),
 ('AK', 'F', 1934, 'Agnes', 7),
 ('AK', 'F', 1934, 'Janet', 7),
 ('AK', 'F', 1934, 'Joan', 7),
 ('AK', 'F', 1934, 'Louise', 7),
 ('AK', 'F', 1934, 'Lucy', 7),
 ('AK', 'F', 1934, 'Alice', 6),
 ('AK', 'F', 1934, 'Lillian', 6),
 ('AK', 'F', 1934, 'Mildred', 6),
 ('AK', 'F', 1934, 'Bertha', 5),
 ('AK', 'F', 1934, 'Edith', 5),
 ('AK', 'F', 1934, 'Esther', 5),
 ('AK', 'F', 1934, 'Evelyn', 5),
 ('AK', 'F', 1934, 'Florence', 5),
 ('AK', 'F', 1934, 'Maria', 5),
 ('AK', 'F', 1934, 'Ruth', 5),
 ('AK', 'F', 1935, 'Mary', 29),
 ('AK', 'F', 1935, 'Elizabeth', 13),
 ('AK', 'F', 1935, 'Margaret', 13),
 ('AK', 'F', 1935, 'Anna', 9),
 ('AK', 'F', 1935, 'Shirley', 9),
 ('AK', 'F', 1935, 'Alice', 8),
 ('AK', 'F', 1935, 'Barbara', 8),
 ('AK', 'F', 1935, 'Betty', 8),
 ('AK', 'F', 1935, 'Helen', 8),
 ('AK', 'F', 1935, 'Irene', 8),
 ('AK', 'F', 1935, 'Nancy', 8),
 ('AK', 'F', 1935, 'Martha', 7),
 ('AK', 'F', 1935, 'Virginia', 7),
 ('AK', 'F', 1935, 'Dorothy', 6),
 ('AK', 'F', 1935, 'Lillian', 6),
 ('AK', 'F', 1935, 'Patricia', 6),
 ('AK', 'F', 1935, 'Agnes', 5),
 ('AK', 'F', 1935, 'Arlene', 5),
 ('AK', 'F', 1935, 'Carol', 5),
 ('AK', 'F', 1935, 'Charlotte', 5),
 ('AK', 'F', 1935, 'Edith', 5),
 ('AK', 'F', 1935, 'Evelyn', 5),
 ('AK', 'F', 1935, 'Flora', 5),
 ('AK', 'F', 1935, 'Marie', 5),
 ('AK', 'F', 1935, 'Rose', 5),
 ('AK', 'F', 1935, 'Ruth', 5),
 ('AK', 'F', 1935, 'Sally', 5),
 ('AK', 'F', 1935, 'Wilma', 5),
 ('AK', 'F', 1936, 'Mary', 34),
 ('AK', 'F', 1936, 'Elizabeth', 15),
 ('AK', 'F', 1936, 'Anna', 11),
 ('AK', 'F', 1936, 'Dorothy', 11),
 ('AK', 'F', 1936, 'Patricia', 11),
 ('AK', 'F', 1936, 'Agnes', 10),
 ('AK', 'F', 1936, 'Alice', 10),
 ('AK', 'F', 1936, 'Margaret', 9),
 ('AK', 'F', 1936, 'Nancy', 9),
 ('AK', 'F', 1936, 'Shirley', 9),
 ('AK', 'F', 1936, 'Virginia', 9),
 ('AK', 'F', 1936, 'Carol', 8),
 ('AK', 'F', 1936, 'Evelyn', 8),
 ('AK', 'F', 1936, 'Joan', 8),
 ('AK', 'F', 1936, 'Katherine', 7),
 ('AK', 'F', 1936, 'Marjorie', 7),
 ('AK', 'F', 1936, 'Nellie', 7),
 ('AK', 'F', 1936, 'Helen', 6),
 ('AK', 'F', 1936, 'Jacqueline', 6),
 ('AK', 'F', 1936, 'Julia', 6),
 ('AK', 'F', 1936, 'Lucy', 6),
 ('AK', 'F', 1936, 'Martha', 6),
 ('AK', 'F', 1936, 'Nora', 6),
 ('AK', 'F', 1936, 'Ruth', 6),
 ('AK', 'F', 1936, 'Theresa', 6),
 ('AK', 'F', 1936, 'Amelia', 5),
 ('AK', 'F', 1936, 'Christine', 5),
 ('AK', 'F', 1936, 'Dolores', 5),
 ('AK', 'F', 1936, 'Elsie', 5),
 ('AK', 'F', 1936, 'Esther', 5),
 ('AK', 'F', 1936, 'Geraldine', 5),
 ('AK', 'F', 1936, 'Lydia', 5),
 ('AK', 'F', 1936, 'Marie', 5),
 ('AK', 'F', 1937, 'Mary', 41),
 ('AK', 'F', 1937, 'Margaret', 17),
 ('AK', 'F', 1937, 'Carol', 13),
 ('AK', 'F', 1937, 'Barbara', 11),
 ('AK', 'F', 1937, 'Virginia', 10),
 ('AK', 'F', 1937, 'Betty', 9),
 ('AK', 'F', 1937, 'Anna', 8),
 ('AK', 'F', 1937, 'Donna', 8),
 ('AK', 'F', 1937, 'Pauline', 8),
 ('AK', 'F', 1937, 'Shirley', 8),
 ('AK', 'F', 1937, 'Annie', 7),
 ('AK', 'F', 1937, 'Edith', 7),
 ('AK', 'F', 1937, 'Irene', 7),
 ('AK', 'F', 1937, 'Lucy', 7),
 ('AK', 'F', 1937, 'Marie', 7),
 ('AK', 'F', 1937, 'Martha', 7),
 ('AK', 'F', 1937, 'Patricia', 7),
 ('AK', 'F', 1937, 'Sophie', 7),
 ('AK', 'F', 1937, 'Elizabeth', 6),
 ('AK', 'F', 1937, 'Gladys', 6),

**Task 2 (for everyone):** Write a query that returns the statistics for the name William (5pt). Use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run (5pt). **Bonus:** [Create an index](https://www.w3schools.com/sql/sql_create_index.asp)  on the _Name_ column and use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run with the index (5pt)

In [59]:
import time
import timeit

def test():
    query = "SELECT COUNT(*) FROM Names WHERE Name='William'"
    print("There are {} williams".format(c.execute(query).fetchone()[0]))

c.execute("DROP INDEX IF EXISTS idx_name")
print("Time without index:{}".format(timeit.timeit("test()", globals=globals(), number=1)))

c.execute('''CREATE INDEX IF NOT EXISTS idx_name
             ON Names (name);''')
print("Time with index:{}".format(timeit.timeit("test()", globals=globals(), number=1)))

There are 6726 williams
Time without index:0.44438184000000547
There are 6726 williams
Time with index:0.0006709849999424478

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 4 +1**) </span>

In [6]:
# which question to answer - put your ID number and run the code 
your_id  = "316460443"
q = int(your_id) % 4 + 1
print("You need to answer question number %s" % q)

You need to answer question number 4

***Question 1:*** Write a function that returns how many babies were born in a given state in a given year.
Use it to calculate the number of babies born in LA in 1950 (10pt)

***Question 2:*** Write a function that returns how many male babies were born between a given range of years.
Use it to calculate how many babies were born between 1970 and 1975  (10pt)

**Question 3:** Write a function that returns the most common female name in a given state. Use it to calculate the most common female name in Wasington in 1987 (10pt)

**Question 4:** Write a function that returns how many male babies named _William_ where born in a given state in a given year. Use it to find the state in which the highest number of babies _William_ where born in 1999 (10pt)

In [72]:
def find_babies(year, state=None, gender='M', name='William'):
    num = c.execute(
    f'''SELECT COUNT(*)
        FROM Names
        WHERE State='{state}' AND
              Gender='{gender}'AND
              Name='{name}' AND
              Year={year}
    '''
    ).fetchone()[0]
    print(f'Number of babies with name={name}, year={year}, gender={gender} is {num} in state={state}')

def find_babies_max(year, state=None, gender='M', name='William'):
    num, state = c.execute(
    f'''SELECT COUNT(*), State
        FROM Names
        WHERE Gender='{gender}'AND
              Name='{name}' AND
              Year={year}
        ORDER BY 1 DESC
    '''
    ).fetchone()
    print(f'Max number of babies with name={name}, year={year}, gender={gender} is {num} in state={state}')


find_babies(year='1999', state='AK')
# implemented more efficiently using single query
# could also be implemented with for loop
find_babies_max(year=1999)

Number of babies with name=William, year=1999, gender=M is 1 in state=AK
Max number of babies with name=William, year=1999, gender=M is 51 in state=WY

**Question (for everyone):** For the state of NY write code that calculates the second most popular female/male names in each decade (10pt). **Bonus**: Visualize it somehow using Matplotlib (5pt)

In [106]:
def find_popular_in_decade(decade, gender, state='NY'):
    print(c.execute(
    f'''SELECT SUBSTR(Year, 1, 3) || '0', Gender, Name, COUNT(*)
        FROM Names
        WHERE State='{state}' AND
              Gender='{gender}' AND
              (SUBSTR(Year, 1, 3) || '0')='{decade}'
        GROUP BY SUBSTR(Year, 1, 3), Name, Gender
        ORDER BY 4 DESC LIMIT 1
    '''
    ).fetchall()[0])

for decade in range(1910, 2010, 10):
    find_popular_in_decade(decade=decade, gender='M')
    find_popular_in_decade(decade=decade, gender='F')

('1910', 'M', 'Aaron', 10)
('1910', 'F', 'Ada', 10)
('1920', 'M', 'Aaron', 10)
('1920', 'F', 'Ada', 10)
('1930', 'M', 'Aaron', 10)
('1930', 'F', 'Ada', 10)
('1940', 'M', 'Aaron', 10)
('1940', 'F', 'Abby', 10)
('1950', 'M', 'Aaron', 10)
('1950', 'F', 'Abbe', 10)
('1960', 'M', 'Aaron', 10)
('1960', 'F', 'Abby', 10)
('1970', 'M', 'Aaron', 10)
('1970', 'F', 'Abby', 10)
('1980', 'M', 'Aaron', 10)
('1980', 'F', 'Abbey', 10)
('1990', 'M', 'Aaron', 10)
('1990', 'F', 'Abbey', 10)
('2000', 'M', 'Aaron', 10)
('2000', 'F', 'Aaliyah', 10)

# 2. Flavors of Cacao Dataset (15pt)

Using the [Flavors of Cacao](https://www.kaggle.com/rombikuboktaeder/choco-flavors) dataset, answer the following questions:

**Question 1:** Write a function that returns the number of bars manufactured where the bars' BroadBean Origin is a given country. Use the function to calculate the number of bars where BroadBean Origin is 'Fiji' (15pt)

**Question 2:** Write a function that returns the maximal and average cocoa percentage in a bar manufactured by a company in a specific country. Use the function to calculate the maximal and average cocoa percentage in bars manufactured by a Swiss company (15pt).

**Question 3:** Calculate the second most common bean type(s) and the most rare bean type(s) (15
pt)

**Question 4:** Calculate the number of reviews and the average rating in each year. Calculate the number of reviews and the average rating of each company in each year (15pt)

# 3. Kickstarter Projects Dataset (25pt)

Using the [Kickstarter Projects Dataset](https://www.kaggle.com/kemical/kickstarter-projects#ks-projects-201801.csv), answer the following questions:

**Task 1 (for everyone):** Load the dataset to SQLite DB using [PonyORM](https://ponyorm.org) (10pt)

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 3 +1**) </span>

In [0]:
# which question to answer - put your ID number and run the code 
your_id  = "<fill_your_id>"
q = int(your_id) % 3 + 1
print("You need to answer question number %s" % q)

**Question 1:** On average which project category received the highest number of backers? (15 pt)

**Question 2:** On average which project category received the highest pledged USD? (15 pt)

**Question 3:** In which month occurred the highest number of projects? (15 pt)

## 4. Oscars Datasets (10pt)

Using the [Oscars Dataset](https://www.kaggle.com/theacademy/academy-awards), please answer only one of the following questions (you can chose):

**Question 1:** Who is the female actress with the most Oscar nominees? (10pt)

**Question 2:** Who is the male director with the most Oscar nominees? (10pt)

**Question 3:** Which top-10 movies received the highest number of Oscar nominees? (10pt)

**Question 4:** Write a function that receives an actor's name and returns the actor’s number of Oscar nominees. Use the function to calculate the number of times Leonardo DiCaprio was a nominee (10pt)

## 5. Select a Dataset (15pt)

**Open Question:** Select an interesting dataset and use SQL to discover something interesting (15pt). **Bonus:** Use BigQuery (2pt)